[2014-04-21 20:23] MoOx opened #1 "Add automated tests (WIP)"
Yeah it's needed.

[2014-04-21 20:25] MoOx opened #2 "Create demo pages..."
with pjax disabled & a button to enable pjax with different effects TO SHOW THE POWER of this module (compared to jquery-pjax ?).

[2014-04-21 20:25] MoOx opened #3 "Create a bookmarklet"
This can be fun.
A bookmarklet to enable pjax on any website.
Just for the demo.

[2014-04-22 05:01] MoOx opened #4 "Add blur on active element when page is changed"
To remove focus on a clicked/tapped link (eg on ipad, a attached tooltip can remain visible after the new page load, which is weird)

[2014-04-25 17:00] MoOx opened #5 "Ignore events with prevented defaults"
Interesting PR that can be ported https://github.com/defunkt/jquery-pjax/pull/379

[2014-04-29 20:24] jeromegn opened #6 "loadContent doesn't match "just" <html>"
Hey there,

I've been fiddling around with your library. Works well!

I found a small bug. This regex (https://github.com/MoOx/pjax/blob/master/src/pjax.js#L346) doesn't match `<html>`. It matches `<html lang="en">` and a lot of other possibilities. But not plain old `<html>`!

Or maybe this (https://github.com/MoOx/pjax/blob/master/src/pjax.js#L349) should be `if (matches && matches.length)`

Tho

[2014-04-30 18:12] jeromegn opened #7 "Display that redirects were followed properly"
When clicking a link which triggers a redirect (302 or whatever), PJAX disregards it and pushed the state with the link's URL.

I think it should push, in the state, the URL as sent in the response's header "Location". Also, probably worth looking at that header to check if the URL is external and if it is, then don't try to do PJAX on it.

[2014-05-16 22:44] jfizz opened #8 "Pjax.prototype.loadUrl() not working"
Thanks for this great project!

I am attempting to implement a PJAX redirect with `Pjax.prototype.loadUrl()`. The actual code is

[code]

When I attempt to run call this, I get an error

[code]

I fixed this error by adding `this.options = options` to the very beginning of the `loadUrl()` function. However, after I fixed that error, I got a new error:

[code]

So with this second error, it falls b

[2014-05-17 12:53] #8 closed, assigned to nobody

[2014-06-06 04:29] MoOx opened #9 "Ensure we abort pending XHR in popstate handler"
See https://github.com/defunkt/jquery-pjax/pull/395/files

[2014-06-11 06:34] MoOx opened #10 "Include contents as argument in popstate event"
https://github.com/defunkt/jquery-pjax/pull/401

[2014-06-11 06:36] MoOx opened #11 "Check that pjax run scripts when going back in history"
https://github.com/defunkt/jquery-pjax/pull/400

[2014-08-10 18:24] benjamingeorge opened #13 "Readme example error"
When I try to implement the demo in the readme (sideBySide switch) I get an error.

[code]

This error only happens with using sideBySide switch

[code]

using outerHtml or innerHtml does not throw this error.  I'm using the latest Chrome browser.

[2014-08-30 19:50] gillesfabio opened #14 "Second click refreshes the page"
Hi MoOx! If I click on a link twice... The page is refreshed.

Reproductible on [your own site](http://moox.io/) :)

Any idea?

[2014-09-16 04:50] MoOx opened #17 "Make a special event or something when current url is clicked again"
This can make sense if you have transition (eg: slide) on user click on a link that is the same url that it is already. Doing nothing is a bad idea, so a different kind of effect should be used to not use a slide just to reload the current page.

Ref #14

[2014-09-16 04:51] #14 closed, assigned to nobody

[2014-10-06 09:02] MoOx opened #18 "Change way to handle .isSupported"
Currently the way things are (shitty) done, the trick to "mock" api for unsupported browser is awful cause you can for eg use Pjax.switches.blah.
After refactor on testling branch, I need to do something else.
Like just add a .isSupported method & document the fact that every call & ref usages should be prefixed by this test ?

[2014-10-06 12:52] MoOx opened #19 "Fix support for iOS 8 Simulator"
Ref https://github.com/defunkt/jquery-pjax/issues/443
Solution https://github.com/defunkt/jquery-pjax/commit/863b802a84af8a9c72def4984d4d38163541fe6d

[2014-10-14 05:39] #6 closed, assigned to MoOx

[2014-10-14 05:39] #13 closed, assigned to MoOx

[2014-10-14 05:39] #19 closed, assigned to MoOx

[2014-10-14 06:27] MoOx opened #21 "Finish to test everything"

[2014-10-14 06:28] MoOx opened #22 "handle hash in url"
ref https://github.com/defunkt/jquery-pjax/blob/863b802a84af8a9c72def4984d4d38163541fe6d/jquery.pjax.js#L302-L318

[2014-10-14 06:28] MoOx opened #23 "add keyboard support"

[2014-10-14 06:29] MoOx opened #24 "add timeout option (600ms ?)"

[2014-10-14 06:30] MoOx opened #25 "add form support"

[2014-10-14 06:30] MoOx opened #26 "add cache"

[2014-10-14 06:30] MoOx opened #27 "abort previous pjax request when several requests are made by a crazy person clicking everywhere"

[2014-10-14 06:30] MoOx opened #28 "better switchFallback ?"

[2014-10-14 06:30] MoOx opened #29 "handle document.write scripts ?"

[2014-10-14 08:55] madaboutbrighton opened #30 "Save scroll position in navigation history"
Great project! You have a scroll option, which is useful for when NEW content is loaded.

However, if i do the following:
- visited a link
- scrolled down the page
- clicked on a new link
- viewed the new page
- hit the back button

I am taken to the top of the page again. So i have to scroll all the way back down, trying to find where i was before.

When i click a link, can pjax not record my scr

[2014-10-14 09:00] madaboutbrighton opened #31 "Example for jsScroll / infinate scroll"
I see that you intend to add a few demos...

Would it be possible to add a demo which uses [jsScroll](http://jscroll.com/) or a similar infinite scroll add-on?

This is because i cannot see how to get this to work with your pjax.

Thanks very much!!

[2014-10-18 08:29] chipgata opened #32 "Reload Content Selector - How to use Extend Pjax"
I want reload content pjax selector.

Please give me example about Extend Pjax or anyway solution to solve this problem

[2015-01-07 12:01] gurre commented on #25
+1

[2015-01-08 02:28] pklada opened #34 "Attatch pjax events to injected links?"
Should the pjax events attach to links that are injected through a previous pjax call by default or do you have to do something special to attach new pjax events to those newly inserted links? Currently, even though the links I am inserting follow the selector defined in `elements`, they are causing hard refreshes (not pjax events).

[2015-01-08 07:01] MoOx commented on #34
You can just execute this code for every page, links that already get a event listener will be ignored (so everything will work "as expected".

I should update the readme with this example:

[code]

[2015-01-08 15:18] pklada commented on #34
Ah, okay, good to know. I was unsure if calling pjax on the same element groups would effectively double the attached events. Thanks!

[2015-01-08 15:19] MoOx commented on #34
Hum reopening to let people know that trick while is not documented

[2015-01-08 15:20] pklada commented on #34
Note that I believe the docs say explicitly *not* to do this :p

[2015-01-08 15:21] pklada commented on #34
Also IMO this is probably something that should be done by the library by default. I can hack at it later when time permits :)

[2015-01-08 15:27] MoOx commented on #34
Haha my bad. I am stupid. The library should do that by default https://github.com/MoOx/pjax/blob/a17a6b90bebefd8f5209e6a6f7d8c5d59296232a/src/pjax.js#L467-L469
So you should not do what I put in the example above indeed. I'll edit the comment to remove this snippet.

[2015-01-08 15:28] MoOx commented on #34
Take a look here how I'm doing on my website https://github.com/MoOx/moox.github.io/blob/40e2146b8483a7d05fd578c5a99cd136b24a65a9/src/assets/_scripts/vanilla.js

[2015-01-08 15:28] MoOx commented on #34
So this should work by default is selector are ok. It should already reapply to all the selector (& skip the elements already affected)

[2015-01-08 15:29] MoOx commented on #34
Are you using 0.1.4 ?

[2015-01-08 16:34] pklada commented on #34
I am. I did some testing, it appears it works fine if both of my pjax calls use the same `selectors`, but as soon as i define different `selectors` per init, it seems to cause issues. I will continue to investigate.

You can see what I mean if you go to http://guidebook.com; clicking around the sub-nav works fine, clicking a main-nav link works fine, but if you click on a main-nav link and then re

[2015-01-08 19:56] pklada commented on #34
Also, just tested that re-init'ing pjax on pjax:complete does in fact cause the links in question to work again, but the pjax events are bound/fired multiple times, so that doesn't work as a solution.

[2015-01-10 06:55] MoOx commented on #34
I think I get it. For now only one instance is reparsing DOM for its own selectors, not for other pjax instances. So maybe you should use a pjax event to for reparsing for other part. I did do anything special to handle this case. Maybe we should create a pjax.refresh() method to force reload.
It seems like an edge case to use 2 instances that can update same part of the page :/

[2015-01-10 23:01] pklada commented on #34
@MoOx cool, thanks for looking into it. I can take a stab at writing that method if I have time today.

[2015-01-12 01:45] pklada commented on #34
@MoOx I'm going to take a crack at this. Whats the best way to get this repo up and running locally so I can hack at it? Do you just browserify the index.js file? Let me know what your setup looks like. Thanks!

[2015-01-12 05:38] MoOx commented on #34
According to the package.json scripts section, you should just use `npm test` command (after `npm install`).
The current repo state is kind of broken (some tests aren't good because last time I work on this repo I didn't finish what I was working).

I started a refactoring (one big file to many files with tests) that I didn't finish.

What should be cool is to work with low level tests. You will p

[2015-01-12 07:43] pklada commented on #34
@MoOx thanks. After playing around with it today I'm not sure the repo is in a working enough state for me to just go in and fix this issue. It seems like its kind of in a broken state, unfortunately :(

I might want to modify the existing version which is hosted on npm and update that to fix this issue. Is that possible?

[2015-01-12 07:50] MoOx commented on #34
You can do that too. Just find a way to share the fix so I can bring it back in there :)

[2015-01-12 08:51] pklada commented on #34
@MoOx pretty simple: https://github.com/pklada/pjax/commit/9d3b7a581f9cc3b179cf3090aa9dc747a6c4aa0d

Just added a simple exposed refresh method which would refresh the document based on the elements in the options. Also added some logic so that calling this wouldnt double-bind pjax events. In the code on my side I just call this on pjax:complete.

Maybe not the most elegant solution, but it works.

[2015-01-13 06:00] MoOx commented on #34
Good to know. Thanks for sharing I'll handle that next time I'll continue the refactoring.

[2015-01-13 18:26] pklada commented on #34
@MoOx what are the plans w/ the refactor? Honestly I might move the current master to a new branch since its in a sort of unfinished state, maybe a refactor branch, and then roll back the current branch to .1.4. I can help in my free time as well as this library was really helpful to me, Id just like to keep the npm package, etc, up to date.

[2015-01-13 18:36] MoOx commented on #34
The current master _should_ work in a Commonjs env. If not, it should not be a big deal to fix since I mainly just move some code (split the big file into smaller tested pieces).

I were working on a branch but was not going forward enough so I decide to break things to move fast.
I understand your arguments but think we should iterate on the current master.

Sorry to not be in a hurry, I'm really

[2015-01-13 18:39] pklada commented on #34
^ okay, that's fair. I updated my project w/ my forked version for now. (guidebook.com if you want to check it out working) Thanks.

[2015-01-13 18:40] MoOx commented on #34
If you are interested to contribute to the project, just make a nice PR as a start & we will see what happen :)

[2015-01-16 04:37] joshkadis opened #35 "Download external scripts before executing inline JS?"
The `eval-script` module is slick! But it doesn't address if the inline JS to eval is dependent on an external script that's loaded in the new DOM elements, e.g.

[code]

Would you be open to a pull request for that? Or is there a reason why you wouldn't want to do that?

[2015-01-16 05:59] MoOx commented on #35
No specific reason. Please contribute.

Note that current master seems to be in a broken state due to a refactoring (one big untested file to several small tested pieces).
If you want to make a PR, please do that on the current master following the "in-progress" refactoring :)

[2015-01-16 15:19] joshkadis commented on #35
Sounds good! Thanks. Will check back for the refactoring.

[2015-01-16 15:35] MoOx commented on #35
Reopening to remember to handle that.

[2015-02-04 06:56] #34 closed

[2015-02-04 06:56] pklada commented on #34
Closing as my fixes got added to master.

[2015-02-24 23:32] granicus422 opened #37 "Example Project?"
Do you have an example project that shows, in the simplest manner possible, how to set up a webpage to use this project?

I am new to the pjax concept, as well as require.js, and there seem to be a lot of intermediate steps missing that describe how to set up your require calls in order to correctly load and call the pjax project's dependencies.  A simple example project with two html pages showin

[2015-02-25 06:42] MoOx commented on #37
This library is commonjs only (browserify, webpack).
If you want to use it in another env (amd, global) you will need to build a standalone build (using `browseirfy --standalone Pjax index.js > Pjax.js`)

[2015-02-25 21:08] granicus422 commented on #37
Thank you.  That was the exact information I needed.  I find this library to be much more flexible than jquery-pjax, and making a standalone build of 0.1.4 works perfectly.

[2015-02-25 21:08] #37 closed

[2015-04-22 02:02] mikeebee opened #38 "Question: Different exiting/entering animations based on which link is clicked"
Hi there!

I've been using [jQuery Smoothstate](http://weblinc.github.io/jquery.smoothState.js/) to add custom animations to page transitions. Support has disappeared so I'm interested in replacing it. I looked into jQuery pjax but the lack of ability to allow a specified duration for CSS animations put me off and in turn, led me here. I've had a good read of your docs and it seems perfect, I just

[2015-04-22 04:27] MoOx commented on #38
Using the [switches](https://github.com/MoOx/pjax#switches-object-default-)  your should be able to do whatever you want if you add metadata into the html (like an data-pjax-direction or something) that you might use in the callback.
I guess in this callback you can do this animation.
For my concern, I use right/left animation on my website. Right for new page, left for back button.

For the JS on

[2015-04-22 05:15] mikeebee commented on #38
Ah, perfect! I thought as much, I just wanted to make sure.

I have noticed that the animations on your site are a bit jerky**. A moment before the animation initiates, the content block appears to be out of place. I've taken a [short video to illustrate](http://mikeebee.com/other/moox.mov). Curious if this is likely to carry over to any implementation or just a minor issue with your site.

** Chr

[2015-04-22 05:28] MoOx commented on #38
I didn't take much time to polish my animation that's true :)
It's probably related to my animation, not this script itself. Thanks for reporting.

jQuery pjax have a good experience in pjax issues, so yeah I am checking it sometimes to grab interesting stuff :)

[2015-04-22 05:28] #38 closed

[2015-04-22 05:31] mikeebee commented on #38
Heh no worries. Ok great, I'll give this thing a spin. Thanks for fielding my questions!

[2015-06-22 20:12] farneman commented on #7
This feature would be useful to me as well.

Looks like jquery-pjax looks for a special 'X-PJAX-URL' response header and then falls back to the request url. Turbolinks looks for a 'X-XHR-Redirected-To' response header which is set by the gem on the server side (Rails).

Would it be possible to make use of the `response.responseUrl` property where/when it's available?

[2015-06-23 06:55] MoOx commented on #7
Not a bad idea. We should make this key customisable.
PR welcome :)

[2015-08-20 12:28] graup opened #39 "HierarchyRequestError"
Hi, I tried using the latest version but it breaks on a HierarchyRequestError. I tracked down the bug:

[Here](https://github.com/MoOx/pjax/blob/6eafcf8dc61742adfb0bc7a0f401a849366f1422/index.js#L139) you call `trigger(document, ...)`, but trigger will add the element to the DOM if it doesn't have a parentNode (which document doesn't) [here](https://github.com/MoOx/pjax/blob/6eafcf8dc61742adfb0bc7

[2015-09-03 15:38] kbariotis opened #40 "Implement scrollRestoration [Experimental]"
https://developers.google.com/web/updates/2015/09/history-api-scroll-restoration

[code]

[2015-10-04 06:28] rstacruz opened #41 "Tag v0.1.4"
There's no git tags for v0.1.3 or v0.1.4.

[2015-10-04 07:16] rstacruz commented on #41
nevermind, found it! it doesn't have the `v` prefix.

[2015-10-04 07:16] #41 closed

[2015-10-04 08:57] rstacruz commented on #39
getting this too.

[2015-11-02 08:33] Axure commented on #39
Me, too.

[2015-11-02 08:34] Axure commented on #40
This is totally awesome.

[2015-11-02 08:38] MoOx commented on #39
Fix as a PR is always welcome :)

[2015-11-02 08:39] MoOx commented on #39
Note: I don't currently use this package and so, do not want to take time for it.

[2015-11-12 19:50] rstacruz opened #43 "analytics function doesn't send `t` object"
Using v0.1.4, I'm getting this error:

[code]

[2015-11-12 20:15] MoOx commented on #43
where do you find this `t` thing ? I am not using this lib anymore and struggle to find something about it, sorry :/

[2015-11-12 20:22] rstacruz commented on #43
It's from here: https://github.com/MoOx/pjax/blob/6eafcf8dc61742adfb0bc7a0f401a849366f1422/lib/proto/parse-options.js#L10-L20

[2015-11-12 20:23] MoOx commented on #43
From what I can read, indeed it's not send. Not sure why I did that :(

[2015-11-12 20:23] MoOx commented on #43
This lib wasn't tested before 0.2, but it seems 0.2 is not working and nobody wants to contribute :/

[2015-11-12 20:26] rstacruz commented on #43
any pointers on how we can fix 0.2?

[2015-11-12 20:28] MoOx commented on #43
I "just" splited the code into small pieces, in order to facilitate testing. It seems tests are broken and I think I didn't finish a test or something like that. Should not be a big deal, but "we" just need to find what is going wrong :/

[2015-11-12 20:28] MoOx commented on #43
Maybe you can try "npm install & npm test" and see what happens? :D

[2015-11-12 20:28] MoOx commented on #43
I can add you as a collab if you want

[2015-11-12 23:23] rstacruz commented on #43
it breaks because one test has `t.fail` in it:

https://github.com/MoOx/pjax/blob/master/tests/lib/switch-selectors.js#L6

no indication as to why it's made to fail though.

[2015-11-12 23:59] rstacruz opened #45 "Mark v0.1.4 as latest in npm"
v0.1.4 is the last known working version; it shuold be tagged as `latest` so that `npm install pjax` will fetch that.

[code]

[2015-11-13 07:10] MoOx commented on #45
Done

That said,

[code]

[2015-11-13 07:10] #45 closed

[2015-12-08 12:33] Maximilianos opened #46 "Resize / scroll triggered multiple times after a page transition"
I have a page with multiple elements whose content pjax controls and each of those might use a different "switch" to swap the old content out for the new. After every page transition I have a bunch of scripts that handle how the new content is supposed to behave. Some of these need to also update on 'resize'.

The problem is that pjax triggers 'resize' and 'scroll' on every element "switch", so in

[2015-12-08 22:02] nerijusgood opened #47 "TypeError: Cannot set property 'firstrun' of undefined"
Why I always get `TypeError: Cannot set property 'firstrun' of undefined` in the console. Am I doing something wrong?

[code]

[2015-12-17 22:25] pklada commented on #39
Did this ever get fixed? Getting this too.

[2015-12-22 19:09] OliverZ opened #48 "Could you update the example? It's not working"
I can't run the example code correctly.

The browser Console Shows (Firefox 43.0.1)

[code]
same behavior also in Internet Explorer 11.

I did the following commands:

[code]
After that, I opened `http://localhost:3000/index.html` in the browser window, opened the console window and saw the errormessage I already posted above `...ReferenceError: Pjax is not defined...`

[2015-12-22 21:49] OliverZ commented on #48
the above error can be fixed after adjusting the file paths. But then I got the following error: `HierarchyRequestError: Node cannot be inserted at the specified point in the hierarchy pjax.js:283:0`

[2015-12-23 06:58] MoOx commented on #48
So it's #39

[2015-12-23 06:58] #48 closed

[2016-01-04 23:52] darylteo commented on #43
It's made to fail because there is no test written for it yet.

Switch Selectors also seems to be broken with issue #46 so I will look to fix that one and implement tests for it.

[2016-01-04 23:58] darylteo commented on #7
I believe this feature is extremely crucial, but if it requires changes to the server breaks the "it just works" feature of this library.

While we're doing this, @MoOx would you like pjax to send a X-PJAX header to the server so that the server can detect a pjax request?

[2016-01-05 00:18] darylteo commented on #30
I believe #40 is related to this.

[2016-01-05 00:21] darylteo commented on #17
This can be dangerous in the context of #7 - if the href results in a redirect, it won't detect "the same url". Only the application will know what is the "active" link - I believe the responsibility of this should lie with the application - combined with the changes I just made for #5 this can be done using preventDefault.

[2016-01-05 01:55] darylteo opened #51 "onSwitch is undefined - "this" is "window", not "pjax""
[code]

Stack Trace
[code]

Happens in switches.js outerHTML and innerHTML

[2016-01-05 03:28] darylteo commented on #51
Now it's

[code]

[2016-01-05 04:00] darylteo commented on #51
And now it's

[code]

Sorry for the spam, just recording these as I go along.

[2016-01-05 04:04] darylteo commented on #51
Also clone.

[2016-01-05 04:27] darylteo commented on #47
@nerijusgood

[code]

[2016-01-05 05:19] darylteo commented on #46
@MoOx i think the bigger question here is whether switches should trigger window resize/scroll at all.

Why not:
 - expose switch event with pjax:switch. Users should be responsible for triggering resize if they need it.
 - users can then decide if they want to debounce multiple pjax:switch events or not. (as OP)
 - scroll should only fire once, **if** the scrollTo position is being changed.

As f

[2016-01-05 06:13] MoOx commented on #46
@darylteo if you click at a link in the bottom of the page and do not make an automatic scroll, the user experience is pretty weird: the page content change, but you are in the middle of the new content...
Not sure what is the best. FYI I don't use this library anymore, so feel free to push some idea/PRs ;)

[2016-01-05 06:15] MoOx commented on #39
Closed by 1d292a1a6eeb19918304c28d31b513d05a88c086

[2016-01-05 06:15] #39 closed

[2016-01-05 06:16] MoOx commented on #51
Closed by c12e4cdeddf48b9aec451aa745bed8d5fbb7c129 ?

[2016-01-05 06:16] #51 closed

[2016-01-05 06:16] rstacruz commented on #39
woohoo!

[2016-01-05 06:18] darylteo commented on #51
Yes that commit should fix the errors.

I have a parched 0.2.1 working on my app right now (bugs notwithstanding)

Daryl
On Tue, Jan 5, 2016 at 5:16 PM Maxime Thirouin <notifications@github.com>
wrote:

[2016-01-05 06:19] MoOx commented on #7
Why not.

[2016-01-05 06:20] MoOx commented on #43
So is this fixed now (sorry I am lazy)?

[2016-01-05 06:23] darylteo commented on #43
No I only fixed the failing test.

Not sure what the issue is in this one because the line of code referenced
doesn't seem to exist in the code base anymore.
On Tue, Jan 5, 2016 at 5:20 PM Maxime Thirouin <notifications@github.com>
wrote:

[2016-01-05 06:24] rstacruz commented on #43
@moox, on a side note, may i ask why you're not using this library anymore?

for me: the alternatives are to use jquery.pjax and wiselinks, both of which rely on jQuery, which I'd prefer not to be a dependency.

[2016-01-05 06:25] MoOx commented on #43
I now only build webapps with React (for the last two years) :)

[2016-01-05 06:26] rstacruz commented on #43
ah, haha, right

[2016-01-05 06:27] darylteo commented on #43
What about us poor legacy maintainers ...

*grumbles*
On Tue, Jan 5, 2016 at 5:26 PM Rico Sta. Cruz <notifications@github.com>
wrote:

[2016-01-05 06:33] MoOx commented on #5
Closed by #50

[2016-01-05 06:33] #5 closed

[2016-01-05 07:13] darylteo commented on #46
Hmm... I think based on my experience, most of the time you'd expect to scroll to the top of the container  while the content is loading. Devs can also choose to clear the target container and replace it with a loading indicator. There's also no guarantee that they want smooth scroll - and might prefer to jump to scroll position instead.

I feel letting the developer decide what is best UX for the

[2016-01-05 07:15] MoOx commented on #46
Fair enough :)
You can probably get rid of that in the code. Just add something in the doc on "how to handle scroll" that will work for 90% of the users.

[2016-01-05 07:23] darylteo opened #53 "[Proposal] Pjax as EventEmitter?"
At the moment, events are emitted via document using native dispatchEvent.

This (I think) causes issues if multiple instances of pjax are used.

Better to have Pjax as a EventEmitter emit its own events. This does increase the size of the library (4-5kb?).

[2016-01-05 07:24] MoOx commented on #53
Good idea.

[2016-01-05 07:33] darylteo opened #54 "[Proposal] Manual invocation of Pjax."
A static method that allows invocation instead of relying on declarative options.

This would open the door to things like
- dynamic links (instead of relying on href), could be based on runtime vars like time or attributes
- non-a links
- non-click (mobile taps, hovers, keypresses)
- or any number of processing steps to yield a target url to load
- different switch options

This method could also

[2016-01-05 07:45] MoOx commented on #54
:+1:

[2016-01-05 23:40] darylteo opened #55 "[Release] 0.2.2"
Hey @MoOx  never done this before (npm/bower wise).

Can you tell me how to go about it? Do I just up the version numbers in package.json/bower.json and push a release tag or do I need to do other things?

I think now that the main library is "functional" we should push it out as is and then deal with issues as they come up.

[2016-01-06 05:53] darylteo commented on #54
Need a bit more thought on this... looking at the code it doesn't seem like pjax was designed to have multiple instances of pjax instantiated on the same page. I ... might be trying to use this library wrongly =) I'll leave it for 0.3.0 maybe, but due to time constraints I'll rethink the way I'm using it.

[2016-01-06 06:31] MoOx commented on #55
Sure. I still have some questions for you:
- Do you use bower? Cause since bower is kind of dead this days, I was thinking about removing it from there.
- Is commonjs style lib enough for you? I was thinking about dropping the standalone build step (which is not very useful this days).
- let me automate the process for publising. I like to have a command that run tests, create tag, publish on npm

[2016-01-06 07:45] darylteo commented on #55
From the perspective of legacy maintenance

 - would still support bower if it is not too much hassle. Lots of legacy projects (i.e. anything built before 2016 ;)) is likely to still need bower for front-end dependency management
 - standalone might also still be needed (like through CDNs). I might suggest putting the artifact in a more ecosystem friendly location (/dist)
 - sure please do. I am p

[2016-01-11 07:22] MoOx commented on #55
Will handle that when I came back from a conference next week.

[2016-01-11 07:22] MoOx commented on #55
- Btw, do YOU use bower?
- standalone are legacy to me (and btw, https://npmcdn.com/)

[2016-01-11 07:35] darylteo commented on #55
Nope. Webpack npm for me (this year at least, who knows what more the js
community will come up with again by next year *sigh*)

But I am using it in at least one client legacy project right now at least.
On Mon, Jan 11, 2016 at 6:22 PM Maxime Thirouin <notifications@github.com>
wrote:

[2016-01-12 10:13] coolhihi opened #56 "there is something wrong when pjax running with google analytics."
thank you for this great pjax.

but I may found a bug when it run with google analytics.

`options.analytics()` didn't have any param. so `ga("send", "pageview", {"page": options.url, "title": options.title})` got an error `Cannot read property 'url' of undefined`.

I fixed it by replaced with `ga("send", "pageview", {"page": location.pathname, "title": document.title})`.

[2016-01-12 22:32] Madebym opened #57 "Where is pjax.js located(bower or ZIP download) ?"
Ok, this may be that I am a total idiot, cause I am a designer first and foremost, but I can't find the `pjax.js` file.

I've tried both the ZIP download and the bower installation, but there is no such file.

[2016-01-12 22:45] darylteo commented on #57
@Madebym

Current stable should be available through NPM and Bower.
Current master is available through npm at the moment by running until #55 is processed.

[code]

This project was quite stagnant for awhile so some things are out of date.

Short survey: do you use bower regularly? Or have you considered using browserify/webpack or similar?

[2016-01-12 23:01] Madebym commented on #57
@darylteo

Thanks for the quick reply. First I want to repeat that I am a designer by trade, so I am not that good with all of this front-end automation tools. I know just enough to get by :))

So, I tried the regular ZIP download, then the bower and just now your proposed  `npm install --save git+https://github.com/moOx/pjax.git`

The `package.json` and `bower.json` both say that the main file is

[2016-01-12 23:44] darylteo commented on #57
@Madebym ah okay I see the problem. At version 0.1.4 there WAS a standalone pjax.js. As of 0.2.* this was changed as Maxime split all the files up into components. As it stands, there isn't a standalone pjax.js... it needs to be compiled by a bundler like webpack or browserify.

I was just discussing whether we should be including a standalone distributed artifact. Your input would be appreciated

[2016-01-13 00:09] Madebym commented on #57
@darylteo

Thanks for clearing things for me. I already managed to find that 0.1.4 version which had the standalone pjax.js file, should be enough for me to play a bit with pjax.

As for the standalone distributed file, my vote is that you include it. Why set a prerequisite on being able to use this library? I bet there will be people like me that don't use any browserify/webpack/you-name-it thing

[2016-01-14 03:24] intositeme opened #58 "No X-PJAX header in request"
It works, but the request header looks like it's missing the X-PJAX header, trying to setup my backend to just return body content for pjax request.

[2016-01-14 22:43] darylteo commented on #58
@intositeme yup! I mentioned this in another issue and will put it in the next release.

[2016-01-14 22:56] darylteo commented on #56
@coolhihi hi can you tell us which version of pjax you are using?

[2016-01-15 03:03] coolhihi commented on #56
@darylteo v0.1.4
I get it by `npm install pjax`

[2016-01-15 03:04] darylteo commented on #56
@coolhihi we are currently working on a new release 0.2.2. Perhaps when we do release it, you can test your stuff to see if this issue is still present?

[2016-01-15 03:17] coolhihi commented on #56
@darylteo Thank you. I can only got 0.2.1 by npm. Is the master HEAD 0.2.2? Or which way I can get 0.2.2?

[2016-01-15 03:34] darylteo commented on #56
You will need master HEAD. 0.2.1 is broken and will not work.

[2016-01-15 03:40] coolhihi commented on #56
@darylteo I found that google analytics was removed in new version. But that's okay, I will add it myself. thanks

[2016-01-15 03:40] darylteo commented on #56
Please PR =)

[2016-01-15 03:46] darylteo commented on #56
@coolhihi actually I suspect that the reason why it was removed was because you can easily do this by just adding a listener to document (pjax:complete) then firing the appropriate GA event. This would be the most appropriate thing to do as we cannot assume everyone is using Google Analytics.

[2016-01-17 07:07] MoOx commented on #58
The point of this plugin is that you should not need it, since this plugin can work without any server change.

[2016-01-17 07:07] #58 closed

[2016-01-17 07:08] MoOx opened #60 "No milestone usage"
@darylteo I don't really like using milestone for small project like this one. Let's just merge PR and release (btw, I just came back and will release a new version asap).

[2016-01-17 07:08] #60 closed

[2016-01-17 08:11] MoOx commented on #56
We should at least add doc for this, so I am reopening.

[2016-01-17 08:26] MoOx commented on #57
Reopening. Future version won't have a versionned standalone JS. Instead we will provide a link to https://npmcdn.com

[2016-01-17 10:08] darylteo commented on #60
Sure thing.

[2016-01-17 10:10] darylteo commented on #58
I think there might be merit in partial loads as a progressive optimisation step. Some people might be coming from jquery.pjax (hence the need for containers). I defer decision to you of course (and I haven't yet had the need for it at present in this project).

[2016-01-17 11:43] coolhihi commented on #56
@MoOx @darylteo the HEAD version also have this bug. I had sent pull request. But I agree with darylteo the google analytics code is not necessary. Google may change the api in the future, and users can easily do this in `pjax:complete` or `pjax:success`. So I suggest to remove the code about google analytics.

[2016-01-18 00:37] intositeme commented on #58
Oh so @darylteo will you be implementing it?
It'll be handy to have, since then i can set my server to just return necessary content and not html headers etc.

I'm using Laravel with it, and it has a built in method that particularly checks for the header https://laravel.com/api/5.2/Illuminate/Http/Request.html#method_pjax

[2016-01-18 00:49] darylteo commented on #58
@intositeme i'm just a contributor. As I don't need it at present I won't be spending any time on it (I'm on company time so I can't justify it sorry)

[2016-01-21 23:27] commercial-hippie commented on #57
A standalone version would be nice for people who use their own CDN.

Is there any chance someone has an example of how to concat the files using gulp?  I have tried using [`gulp-amd-optimizer`](https://www.npmjs.com/package/gulp-amd-optimizer) and `concat` but its not working out. :disappointed:

[2016-01-28 18:41] kulakowka commented on #56
I have this bug too. I solve this problem with custom analytics function like this:
[code]

[2016-01-29 09:54] Ben-TangentDesign opened #61 "installing failed via npm install pjax on visual studio to umbraco solution"
I've just tried to install this within Visual Studio for an Umbraco Install and I get the following output:
![error](https://cloud.githubusercontent.com/assets/12425975/12672437/2b9ce6b2-c66e-11e5-9a2c-c62b0194df41.jpg)

No files or folders are added to the solution and re running the instal produces the same result.

was expecting the following folder to be added "/node_modules/pjax"

[2016-01-31 09:22] darylteo commented on #61
There is a open issue for updating the npm build to the latest functional version (0.2.2). Just need to wait for @MoOx to get to it as he's got the npm credentials.

[2016-01-31 12:10] darylteo commented on #57
@commercial-hippie either webpack or browserify will work. Just point it at pjax/index.js

[2016-01-31 12:13] darylteo commented on #22
Oops sorry >.< I'm so used to just pushing shit with issue numbers.

I'm not planning on merging this in. Its a really rudimentary implementation and there are no tests for it yet.

Daryl

[2016-03-03 11:15] howells opened #62 "Accessing the anchor that was clicked before pjax:send"
Hi - wonder if anyone could help me, I need to somehow access the anchor that was actually clicked to trigger the pjax:send event. I figured I could do this by listening for the click on any <a> but this event happens _after_ the pjax:send. Any ideas?

[2016-03-03 23:31] darylteo commented on #62
@howells  I trigger pjax call directly.

[code]

Note that pjax has to be a singleton, or it may break history (I haven't tested it, but from code inspection it seems that pjax was designed to only be instantiated once)

[2016-03-04 09:07] howells commented on #62
Huh that's an interesting approach yeah - thanks. Right now I overrode `Pjax.prototype.attachLink` with the same function, but prepended it with various stuff that I needed to do, which isn't really sustainable!

[2016-03-12 06:01] MoOx opened #63 "Replace testling (this project is dead)"
I have 2 HDD and cannot start testling due to a really stupid bug (I opened an issue several months/years ago)

https://github.com/substack/testling/issues/111

[2016-03-12 06:06] MoOx commented on #63
FYI https://github.com/substack/browser-launcher/pull/26

[2016-03-12 06:25] MoOx commented on #56
Closed by #59

[2016-03-12 06:25] #56 closed

[2016-03-12 06:28] #57 closed

[2016-03-12 06:28] MoOx commented on #57
Will be in npm and bower for now (bower main will point to this file, npm will not due to its nature)

[2016-03-12 06:44] #55 closed

[2016-03-12 06:45] MoOx commented on #55
Sorry for the delay!

[2016-03-12 06:45] MoOx commented on #61
@Ben-TangentDesign can you try with latest version? (0.2.2)

[2016-03-14 11:21] rstacruz opened #64 "Question: is v0.2.2 stable/usable?"
I remember the latest versions were always unusable. Is this okay now? I see this message is still in the readme:

[2016-03-14 11:51] MoOx commented on #64
Should be ok, README Is not up to date. Please let this issue open as a reminder :)

[2016-03-15 10:42] MoOx commented on #64
I updated the readme and npm.

[2016-03-15 10:42] #64 closed

[2016-03-17 19:56] vrmontes commented on #61
I get the error too:

npm ERR! Linux 3.19.0-25-generic
npm ERR! argv "/usr/bin/nodejs" "/usr/bin/npm" "install" "pjax"
npm ERR! node v5.5.0
npm ERR! npm  v3.8.1

npm ERR! No compatible version found: pjax
npm ERR! Valid install targets:
npm ERR! 0.2.2, 0.2.1, 0.2.0, 0.1.4, 0.1.3, 0.1.2, 0.1.1, 0.1.0
npm ERR!

[2016-03-18 07:31] MoOx commented on #61
@vrmontes you are not getting the same error.
What command did you enter to install pjax?

[2016-03-18 17:53] vrmontes commented on #61
Hi, i used:
npm install pjax

On ubuntu 14.04

[2016-03-18 18:29] MoOx commented on #61
I fixed this. I messed up latest tag. Should be ok now.

[2016-03-18 18:29] #61 closed

[2016-03-18 18:40] vrmontes commented on #61
Thanks

[2016-03-20 23:51] cj opened #65 "this.reload is not a function"
When I click a link that I'm already on I get `this.reload is not a function` https://github.com/MoOx/pjax/blob/546b7e309a8812594edee127eeb48cce0e6a7b88/lib/proto/attach-link.js#L48 I'm using version 0.2.2 via npm

[2016-03-22 07:29] danielfilho commented on #65
got the same problem.
should I submit a PR replacing `this.reload()` for `this.location.reload()`?

not sure if this is the wanted behaviour for this. but it happens when I click to a `/` link and I am at `/`. but even though, in this case, a reload doesn't seem to be the wanted behaviour.

kinda confused on how I can help here :confused:

[2016-03-22 07:36] MoOx commented on #65
Feel free to push any fix.

The idea of reload is that if you are on a page and click on the same page, if we do nothing, UX is going to be weird. That's why I added this behavior in the first place.

[2016-03-24 04:07] danielfilho commented on #65
got it.

I've changed this, but feels weird to do a `window.location.reload()` on a lib that is supposed to not reload the browser. maybe just a `return false` or something (which will also feel weird).

I'm really not sure on how should be the behaviour :/

[2016-03-24 11:42] #65 closed

[2016-03-24 12:32] MoOx commented on #65
Default behavior is now back to normal (just pjax, as expected by most people). The option `currentUrlFullReload` was ignored (regression of the 0.2 release). Things should be ok with 0.2.3

[2016-04-12 10:51] stha commented on #26
Is there any progress regarding this?

:+1:

[2016-04-24 18:36] dreerr opened #68 "Pjax.switches not working?"
I installed Pjax with bower and tried to get your example with
 `switches: {
    ".js-Pjax": Pjax.switches.sideBySide
  }`
working but it fails in the browser with console error `undefined is not an object (evaluating 'Pjax.switches.sideBySide')`

[2016-05-03 07:08] MoOx commented on #68
It supposed to be fixed in 0.1.4. What version are you using?

[2016-05-03 07:12] dreerr commented on #68
Latest version pjax#0.2.3, tried with bower and also with npm.

[2016-05-03 07:22] MoOx commented on #68
Yeah. It's defined here https://github.com/MoOx/pjax/blob/b96b0f41a7d7887929e71539c3022481f945174a/lib/switches.js#L18

[2016-05-03 07:25] MoOx opened #69 "Looking for a MAINTAINER"
I am not using this lib anymore. Feel free to contact me to get git write access and npm rights.

[2016-05-03 07:31] MoOx commented on #68
I think I changed the API with 0.2.x.
Can you try instead to use `require("pjax/lib/switches.js").sideBySide` ?

[2016-05-04 09:19] howells commented on #27
Is there a way to handle this right now? Having this issue!

[2016-05-04 09:22] MoOx commented on #27
Nope. It's not really easy to cancel xhr request.
Are you the crazy person? :D

[2016-05-04 09:23] howells commented on #27
Ha *maybe*! No it's just a client request. No worries will try and find a workaround.

[2016-05-04 09:30] MoOx commented on #27
Feel free to make a PR if you find a solution!

[2016-06-09 13:53] Torann commented on #69
I hope someone takes it over for you. I just started using it and I have to say it's one of the better pjax options out there.

[2016-06-09 13:57] darylteo commented on #69
@MoOx I'm a little interested, though not sure about my credentials and time investment.

Last time this project was in focus for me, but I'm aware you were too busy to move forward on some PRs. And at this point in time, the focus at my client project has since moved on to other agendas.

I've seen your activity on all the postcss stuff! How do you find the time!? Appreciate your efforts =)

[2016-06-09 14:06] MoOx commented on #69
@Torann I think pjax approach will be deprecated by stuff like react + fetch.
I made this lib for my personal website last time, but now I am making an entire engine on top of react http://phenomic.io

@darylteo I don't work that much on PostCSS, now I am involved in a new project, https://phenomic.io/ ;)
For you question, you might find an answer here https://github.com/MoOx/ama/issues/12

[2016-06-09 14:11] darylteo commented on #69
Well I see your name popping up everywhere, that's a lot, in my book =).

Anyway, I'll tentatively put my hand up for lack of any better options (I hope you do, wouldn't wish myself on any poor project ;) ).

[2016-06-23 19:10] tremby opened #70 "Add option to *not* cache-bust"
Requests have a timestamp added to the end at https://github.com/MoOx/pjax/blob/master/lib/request.js#L15, presumably to get around caches. I don't want to get around caches in this way, since my pages are static. It would be good to have an option to skip adding this query string.

[2016-06-23 20:15] MoOx commented on #70
PR welcome :)

[2016-06-23 20:31] tremby commented on #70
How do you get at the options from those lib files?

[2016-06-24 04:33] MoOx commented on #70
https://github.com/MoOx/pjax/blob/ee530f4c0a5f4f016f03601865ce36e386a0f7b1/lib/proto/parse-options.js

[2016-06-24 08:22] tremby commented on #70
`this.options` was the answer I was actually looking for, but that helped too -- thanks.

[2016-06-24 08:59] tremby commented on #70
Closing in favour of pull request #71.

[2016-06-24 08:59] #70 closed

[2016-06-25 21:43] tremby opened #72 "Asynchronous switch functions don't work"
The documents make it seem like asynchronous functions can be used as switching functions, since there's a callback `this.onSwitch` we're asked to call.

I presumed this meant I could do animations and such, and actually switch the content once I am ready, and then call `this.onSwitch` once finished. The node would then be parsed for new links etc at that point.

But that's not how it works -- all

[2016-06-25 22:11] tremby commented on #72
My current workaround is to call `this.parseDOM(document)` once all my switches are finished.

[2016-06-28 05:12] MoOx commented on #72
Can't remember how I did this since it's a long time ago, but pretty sure you can do async stuff. I was using this https://github.com/MoOx/moox.github.io/blob/259dc4b098d9a81f580f9276cc001184c3b3c6fc/src/assets/_scripts/vanilla.js#L42-L95

[2016-06-28 05:52] tremby commented on #72
That works around the issue by immediately inserting the new content. It's then successfully parsed immediately and click handlers are added. Then the async part is removing the old content later.

The execution of the pjax code isn't halted at all.

If the new content isn't added until later, the `parseDOM` method isn't run over it.

[2016-07-07 13:17] gaillafr commented on #25
+1

[2016-07-24 11:14] Bezmundo commented on #68
I'm currently using version 0.2.4 and getting the same error when trying to use sideBySide.

I tried changing to the code to your above recommendation but still no luck. Here's the standard pjax call from your demo code I am testing with:

` document.addEventListener("DOMContentLoaded", function () {
                var pjax = new Pjax({

                    selectors: [".js-Pjax"],

[2016-07-28 21:00] eatonphil commented on #25
+1

[2016-09-07 08:12] BlackGlory commented on #57
Obviously, Bower still not have pjax.js file, https://npmcdn.com/pjax@0.2.4 same.

[2016-09-14 02:37] evildancer commented on #43
this.options.analytics = this.options.analytics || function(t) {
                    window._gaq && _gaq.push(["_trackPageview"]),
                    window.ga && ga("send", "pageview", {
                        page: t.url, # Uncaught TypeError: Cannot read property 'url' of undefined
                        title: t.title
                    })
                }

[2016-09-27 07:14] quantumninja commented on #68
Fixed in the readme.md example #74 Try that it should work now.

[2016-09-27 07:21] MoOx commented on #68
Thanks.

[2016-09-27 07:21] #68 closed

[2016-09-28 09:18] cpetro opened #75 "Exclude links with a specific class ?"
Hi ,

Just wondering if you know a quick way to exclude link elements with certain class such as "a.no-Pjax"

thanks for your help!

CHRIS

[2016-11-04 13:22] drpiou opened #77 "Fails on Internet Explorer"
Hi,

I have an error on Internet Explorer which falls back everytime to classical switch page with refresh.
I checked the pjax code and I saw that the function `document.implementation.createHTMLDocument` was in use with no parameters (which I also saw was optional).

But, I finally found workaround to my bug and make IE working great with pjax by simply giving an argument to `createHTMLDocument`,

[2016-11-14 06:03] aleen42 opened #78 "is there a way to replace `script`, and make them executed?"
Hello, is there a way to replace `script`, and make them executed? I want to load different scripts in different sites, and execute when pjax has been ended.

[2016-11-14 18:50] Flobin commented on #25
Agreed, this would be really sweet. What is needed to make this happen? Is it about adding the form contents to the request?

[2016-11-16 11:27] oskarrough commented on #75
You could overwrite the `getElements` method. It's a function that should return a NodeList of elements. How you exclude certain elements is up to you.

[code]

[2017-01-01 22:43] leifniem commented on #57
this seems to remain an issue for now

[2017-02-03 17:05] aurimus opened #82 "Images fails to load because relative path is changed too late"
I am using it on a site where the images are loaded with local path `<img src="pagename/somepath/image.jpg"/>` and what happens is that the `pagename` does not get updated even though that's what should change. Therefore images don't load.

[2017-02-03 23:13] aurimus opened #83 "Head tag keeps multiplying with empty contents"
Hi, any idea why this would be happening?

![head_problem_pjax](https://cloud.githubusercontent.com/assets/1052992/22612106/224a8ece-ea77-11e6-9b74-6ee7ff04c954.gif)

`var pjax = new Pjax({ selectors: ["head title", "body"] })` but it works the same if I remove the `head title`

[2017-02-03 23:16] aurimus commented on #83
You can inspect it here also: http://saulesinterjerai.lt/ same problem same code

[2017-03-01 05:39] huonsokly opened #84 "Redirect To Another Page After Success Without Reload."
Hi, How would I do if I want to redirect to another page after success without reload?

[2017-03-17 13:05] VPetar opened #85 "A little console issue..."
So I see this error code when I traverse on your "demo" page:

`Uncaught ReferenceError: Pjax is not defined at vanilla.js:2`

Just wanted to let ya know. :)

[2017-03-19 18:12] Ben-TangentDesign opened #86 "npm install pjax brings back nothing"
Hi,

When I install via npm it says it has installed and returns:

`pjax@0.2.4 ..\..\node_modules\pjax`

However there isn't a folder called pjax and no sign of any other files.

[2017-03-20 04:50] MoOx commented on #86
Installation got an issue on your side.
Package is correct: https://unpkg.com/pjax@0.2.4/index.js

[2017-03-20 04:50] #86 closed

[2017-03-23 05:53] MoOx commented on #85
Thanks I know. My website is broken and I am currently working on it, without using Pjax.

[2017-03-23 05:53] #85 closed

[2017-03-24 14:51] huonsokly opened #87 "uncaught exception: Pjax doesnt support <form> yet."

[2017-03-24 14:52] #84 closed

[2017-03-26 07:34] MoOx commented on #87
See #25

[2017-03-26 07:34] #87 closed

[2017-03-31 13:43] Carlows opened #88 "Attaching pjax to links created at runtime?"
It seems that if I try to create a new link on the page, PJax won't work over those links and a full page reload happens instead.

Is there a way to bind PJax to links created at runtime?

[2017-03-31 15:37] Carlows commented on #88
As a workaround for this, I'm manually binding the pjax `attachLink` function to any links created at runtime:

[code]

[2017-04-01 21:34] Ben-TangentDesign opened #89 "Having to include require"
Hi,

When trying to use switches I have to include the Require library in my HTML.

I then get constant file issues in node_modules.

`Uncaught Error: Module name "events/on.js" has not been loaded yet for context: _. Use require([])`

Just trying to add animation to the example in bower

[2017-04-02 07:23] MoOx commented on #89
How are you consuming the module?

[2017-04-03 21:31] Ben-TangentDesign commented on #89
im loading the pjax.js withing a common.js file:

then calling:
`  require(['pjax'], function(pjax){

        alert('pjax loaded');

        var p = new pjax({
          selectors: ["title", ".js-Pjax"],
          switches: {
            ".js-Pjax": require("pjax/lib/switches.js").sideBySide
          },
          switchesOptions: {
            ".js-Pjax": {
              classNames: {

[2017-04-04 04:17] MoOx commented on #89
You are mixin amd with commonjs. This cannot work this way. Not sure how to handle this with amd.

[2017-04-04 04:28] MoOx commented on #88
`pjaxInstance.refresh()` should do it

[2017-04-04 04:28] #88 closed

[2017-04-04 08:09] Ben-TangentDesign commented on #89
Thats fair enough. What is the recommended approach to loading? Do you just use commonjs on your website? I've tried the standalone js with nothing else and it still asks to me use require([]) on the switches.js require call.

[2017-04-04 08:16] Ben-TangentDesign commented on #89
Even when trying to use something like the below in the example doesn't seem to work:
`new Pjax({
  selectors: ["title", ".js-Pjax"],
  switches: {
    ".js-Pjax": require("pjax/lib/switches.js").sideBySide
  },
  switchesOptions: {
    ".js-Pjax": {
      classNames: {
        // class added on the element that will be removed
        remove: "Animated Animated--reverse Animate--fast Animate--noD

[2017-04-10 13:10] MoOx commented on #89
You should use browserify or webpack.

Note: use 3 backticks for code blocks

[2017-04-10 13:10] #89 closed

[2017-04-28 20:14] insanetisane opened #90 "Pjax is not defined"
Not sure what's going on but there seems to be an error. You are also getting this error on your own website. Thought you should know.

[2017-05-02 05:22] MoOx commented on #90
My website is broken in many ways I know.
Please give more detail on your error otherwise we can't help you.

[2017-05-02 05:22] #90 closed

[2017-05-21 20:40] andreasvirkus commented on #69
@MoOx I beg to differ. SSGs have been growing in popularity since ~2012 and show no signs of slowing down. This is a lovely lib to just attach to them "plug-n-play" style. I'm currently choosing an ajax nav lib...
Is this still somewhat actively maintained?

[2017-05-22 06:07] MoOx commented on #69
Yeah I know. And I like SSGs. I even created one. See https://phenomic.io/

So no this lib is not actively maintained ;)

[2017-05-22 20:36] andreasvirkus commented on #69
:/ Sad to hear. Best of luck with phenomic.

[2017-05-26 00:20] wongsynee commented on #68
After I implemented with `require("pjax/lib/switches.js").sideBySide` I have an error on console that says `Uncaught ReferenceError: require is not defined`

[2017-05-26 00:22] quantumninja commented on #68
@wongsynee are you using webpack/browserify?

[2017-05-26 00:44] wongsynee commented on #68
Thank you for the prompt reply. However, I'm not too familiar with either, do I browserify my custom js file or the entire pjax folder that I have downloaded with bower?

[2017-05-26 00:46] quantumninja commented on #68
You will want to bundle up all your JS into one file

[2017-05-26 01:00] wongsynee commented on #68
Got it, thank you!

[2017-07-19 12:34] lacrioque commented on #69
Stil looking for a maintainer?
I'm working at LimeSurvey and we make a lot of user from this Library.
So I'm throwing myself into the pool for maintenance.

[2017-07-19 12:35] MoOx commented on #69
@lacrioque what your npm username?

[2017-08-07 10:41] huonsokly opened #91 "Why Reload On Sumit Form?"
I used : elements: "a",
Please help!

[2017-08-16 18:03] badoubadou commented on #57
Would love to have a standalone file too.

[2017-11-02 11:57] lacrioque commented on #78
Regular script tags are executed on pjax-load.
To run code after pjax has loaded listen to the "pjax:complete" event on the document.

[2017-11-02 11:57] #78 closed

[2017-11-02 11:59] lacrioque commented on #91
This is a bugtracker, not a help forum.
I'm really sorry but you should read the documentation some more.
elements 'a' only reacts on clicks an a a-tag, to catch form submit you fill have to add forms to the element list.

[2017-11-02 11:59] #91 closed

[2017-11-02 12:00] lacrioque commented on #82
This seems to be a design issue.
Pjax can only change dom elemtents, it will not change the pagename.
You may change that manually on pjax:complete, or try to render the images differently.

[2017-11-02 12:00] #82 closed

[2017-11-02 12:02] lacrioque commented on #77
Thank you very much!
It is implemented now

[2017-11-02 12:02] #77 closed

[2017-11-02 12:04] lacrioque commented on #69
lacrioque, like on GitHub

[2017-11-02 12:07] MoOx commented on #69
You have been added

[2017-11-02 12:07] MoOx commented on #69
If anyone wants to help more, feel free to ask here.

[2017-11-02 12:07] #69 closed

[2017-11-08 09:01] lacrioque commented on #83
Still an issue?

[2017-11-22 23:26] david-treblig commented on #57
I'm voting to reopen as well. All building scripts seem to fail me right now and auto injection of assets fail because build version doesn't exist or can't be produced...

[2017-12-03 13:58] acrolink commented on #57
Would any one tell us how to build that holy JS file, just include it and that is it!

[2017-12-19 12:58] #72 closed

[2017-12-19 13:09] MoOx commented on #57
https://unpkg.com/pjax/pjax.js

[2017-12-19 20:27] BehindTheMath commented on #83
I believe this is being caused by the issue described [here](https://github.com/MoOx/pjax/blob/a7b584c469d412ae7333a795a0ac8d3616a96a1f/lib/proto/parse-options.js#L25-L28):

See [here](https://stackoverflow.com/a/27854343/8037425) for more information about why this happens.

The code [there](https://github.com/MoOx/pjax/blob/a7b584c469d412ae7333a795a0ac8d3616a96a1f/lib/proto/parse-options.js#L28-

[2017-12-19 20:54] BehindTheMath commented on #58
The X-PJAX header has been added by #80.

However, there is currently no implementation for a partial load feature.

[2017-12-19 20:55] BehindTheMath commented on #7
The X-PJAX header has been added by #80.

However, there is currently no implementation for checking a X-PJAX-URL header.

[2017-12-20 18:51] #47 closed

[2017-12-20 18:57] BehindTheMath commented on #75
Or you could do
[code]

[2017-12-20 18:58] #75 closed

[2017-12-20 20:29] #32 closed

[2017-12-20 20:58] #83 closed

[2017-12-20 21:18] BehindTheMath commented on #43
This should be fixed by #59.

[2017-12-20 21:19] #43 closed

[2017-12-21 05:25] BehindTheMath commented on #54
@darylteo Can't you accomplish this by calling `pjax.loadUrl()`?

[2017-12-21 18:06] #62 closed

[2017-12-21 18:09] BehindTheMath commented on #62
With #94, you can access the element that triggered the `pjax:send` event with `event.triggerElement`.

[2017-12-21 18:28] BehindTheMath commented on #35
@joshkadis @MoOx
Is this fixed by 09f14fc?

[2017-12-21 18:40] BehindTheMath commented on #30
@MoOx Would it be possible to implement this by storing the scroll position along with the state when calling `pushState()`?

[2017-12-21 18:44] BehindTheMath commented on #25
@MoOx @lacrioque
Is this fixed by 86e5a22?

[2017-12-21 18:46] BehindTheMath commented on #24
@MoOx Can you give some more details? Where would this timeout be, and what would be the purpose?

[2017-12-21 18:48] BehindTheMath commented on #23
@MoOx Can you give some more details?

[2017-12-21 18:50] BehindTheMath commented on #26
@MoOx @stha
What would the cache be for? Assets should be automatically cached by the browser.

[2017-12-21 19:29] MoOx commented on #26
local runtime cache? Anyway, I created this issue in 2014, I guess with service worker it's not relevant anymore.

[2017-12-21 19:30] MoOx commented on #23
The idea will be to use keyboard to navigate to a link and be sure that hitting "enter" does the pjax behavior (make even more sense for form validated with enter)

[2017-12-21 19:31] MoOx commented on #24
timeout when network does not respond? Not sure if that's still relevant nor a good idea :)

[2017-12-21 19:31] MoOx commented on #30
Probably?

[2017-12-21 19:33] MoOx commented on #25
No idea. Looks like it should be.

[2017-12-21 19:33] MoOx commented on #35
No idea.

[2017-12-21 20:04] BehindTheMath commented on #35
@lacrioque ?

[2017-12-21 21:52] #26 closed

[2017-12-21 21:59] BehindTheMath commented on #23
It looks like this is already covered:

https://github.com/MoOx/pjax/blob/d3d5ef7a11186d2da717e5a5beb503b38f8df2d8/lib/proto/attach-link.js#L88-L90

https://github.com/MoOx/pjax/blob/d3d5ef7a11186d2da717e5a5beb503b38f8df2d8/lib/proto/attach-form.js#L91-L93

[2017-12-29 05:23] darylteo commented on #54
@BehindTheMath this was 2 years ago. Can't remember. Feel free to close =)

[2018-01-02 09:38] MoOx commented on #23
Feel free to close if that's working then :)

[2018-01-08 03:47] BehindTheMath commented on #25
Fixed by 86e5a22.

[2018-01-08 03:47] #25 closed

[2018-01-08 04:50] BehindTheMath commented on #63
I've been doing research on options for testing.

It seems that since pjax doesn't do any rendering, most of the goals of testing could be achieved by just using [jsdom](https://github.com/tmpvar/jsdom). This won't indicate any browser-specific quirks, but I think as of now, those should be ironed out, and testing is really to prevent regressions.

I've gotten all the tests to pass using jsdom, wi

[2018-01-08 04:52] #54 closed

[2018-01-08 04:54] #23 closed

[2018-01-08 04:56] #24 closed

[2018-01-08 05:06] BehindTheMath commented on #63
One thing that will have to changed regardless, is the REST API used for testing XHR requests. The Github API refuses requests with custom headers, due to CORS.

I've tested using [httpbin](https://httpbin.org) instead, and that seems to be working as expected.

[2018-01-08 05:16] BehindTheMath commented on #7
It looks like [XMLHttpRequest.responseURL](https://developer.mozilla.org/en-US/docs/Web/API/XMLHttpRequest/responseURL) reflects the final URL after redirects. I see it's already being used in [the tests](https://github.com/MoOx/pjax/blob/6491e3243787556664dc254dcc55b6af226b6786/tests/lib/request.js).

Although it isn't supported by all browsers (most notably, IE), we should definitely check if it

[2018-01-08 10:07] MoOx commented on #63
jsdom is ok for me!

[2018-01-08 21:22] BehindTheMath commented on #63
On the subject of testing, It looks like the Travis config needs to be updated. It's running Node 0.10 and NPM 2, which are way out of date. I don't know where that's coming from, since those aren't specified in [.travis.yml](https://github.com/MoOx/pjax/blob/6491e3243787556664dc254dcc55b6af226b6786/.travis.yml)

[2018-01-08 21:25] MoOx commented on #63
it's default travis version :/

[2018-01-08 22:21] #63 closed

[2018-01-09 05:51] BehindTheMath opened #97 "Stick with JSCS or switch to another linting tool"
JSCS has been merged with ESLint, and development on JSCS has stopped.

@MoOx I thought I remembered seeing somewhere that you said you wanted to switch to Prettier, but I can't find it now.

Should we switch to ESLint or Prettier? Or, since for now JSCS works fine, should we stick with that?

[2018-01-09 08:03] MoOx commented on #97
prettier for styles and eslint for the rest. see https://prettier.io/docs/en/comparison.html
For example I have [my eslint shareable config](https://github.com/MoOx/eslint-config-i-am-meticulous) that does not contains any styles rules .

[2018-01-10 05:36] cpetro opened #102 "Cannot read property 'sideBySide' of undefined"
I need to do some transitions between pages where the new content slides up over the old.

if i use this code https://unpkg.com/pjax/pjax.js and the switches example code then I get "Uncaught TypeError: Cannot read property 'sideBySide' of undefined".

 Can you update https://unpkg.com/pjax/pjax.js so it works plz ! Thanks

[2018-01-10 20:45] #7 closed

[2018-01-10 22:21] BehindTheMath commented on #31
@MoOx I don't think it makes sense to extend Pjax to cover such a use case. Like you said, Pjax is for replacing existing content with new content, not adding content.

[2018-01-11 07:48] MoOx commented on #31
Agree

[2018-01-12 03:35] BehindTheMath commented on #72
@tremby What type of of async operations were you doing? Pjax is basically synchronous, so even if you have an animation that takes some time, execution won't continue until it's done, and `parseDOM()` won't be called until then.

[2018-01-12 03:38] BehindTheMath commented on #46
@MoOx When's the effect of triggering the `resize` and `scroll` events? Is it only to notify the user, or does it have an effect on the browser as well?

[2018-01-12 03:45] BehindTheMath commented on #102
This issue should be already fixed in the repo.

We're currently actively working on fixing as many bugs as possible and closing old issues. When we're done, a new version will be pushed to NPM.

In the meantime, you can clone the repo and build it yourself by running `npm run standalone`.

[2018-01-12 04:09] #31 closed

[2018-01-12 05:55] MoOx commented on #46
Can't remember :/

[2018-01-12 19:33] BehindTheMath commented on #46
I agree with @darylteo that we should deprecate triggering `resize` and `scroll`.

I also think that we don't need to trigger a new event like `pjax:switch` when using a user-created switch. Since `onSwitch()` is called immediately after each switch, if the user wants to do anything afterwards, they can just append that to their custom switch.

Instead, I think it should trigger `pjax:switch` at t

[2018-01-12 20:47] tremby commented on #72
@BehindTheMath, I don't remember since it was a year and a half ago, but my OP mentions animations, so that's a good bet. What you said would only be true if the animation were entirely synchronous. I don't know how one would animate something on a web page with entirely synchronous code.

[2018-01-14 05:09] BehindTheMath commented on #72
@tremby Pardon my ignorance; I'm primarily a backend developer, so I don't have experience with animations.

I think the code as it stands today isn't structured sensibly. #79 fixes this issue, but that just worsens #46, since [`parseDOM(document)`](https://github.com/MoOx/pjax/blob/6fa51e58f81494022abeade2ab410e8950edb25c/index.js#L86) is being called after every switch finishes. That's besides [

[2018-01-14 05:12] tremby commented on #72
Seems reasonable that you might detect whether the user wants to do this asynchronously or synchronously, then call `parseDOM` automatically if synchronous, or as part of the callback if asynchronous.

[2018-01-14 05:20] BehindTheMath commented on #72
I'm not sure how we would be able to detect that.

What we might be able to do is assume it's synchronous unless the user returns a truthy value from the switch. The [WebExtension Messaging API](https://developer.mozilla.org/en-US/Add-ons/WebExtensions/API/runtime/onMessage) has something like that

[2018-01-14 05:23] #1 closed

[2018-01-14 07:24] tremby commented on #72
Yes, I meant by the user telling advising pjax that async is wanted.

But if I'm reading the docs properly, the default switching function calls the callback anyway. That means you can rely on it being called at the right moment in all cases, right? So what you suggested before, only running the post-switch logic in onSwitch, seems like the thing to do. No need to know or care if the switching fic

[2018-01-16 03:25] BehindTheMath commented on #46
Actually, I don't think we need this either. The user can just override `onSwitch()`, and call `parseDOM()` when they're done.

[2018-01-16 22:08] BehindTheMath commented on #46
@MoOx what do you think?

[2018-01-17 08:56] MoOx commented on #46
What about always triggering pjax:switch event but send a flag to say if it's user created or built-in? (for consistency)

Scrolling proposal LGTM.

[2018-01-17 19:11] robinnorth opened #103 "DOMException in switchElementsAlt when copying <head> attributes"
The new `switchElementsAlt` switch method throws a `DOMException` for me when trying to copy `<head>` attributes:

`
DOMException: Failed to execute 'setNamedItem' on 'NamedNodeMap': The node provided is an attribute node that is already an attribute of another Element; attribute nodes must be explicitly cloned.
`

Cloning the attribute node before setting it on `oldEl` when switching resolves thi

[2018-01-17 22:32] BehindTheMath commented on #103
Fixed by #104.

[2018-01-17 22:32] #103 closed

[2018-01-18 20:36] robinnorth opened #106 "ES6 syntax in compiled build breaks compatibility with older browsers"
It looks like some of the more recent changes to this library have introduced the use of the `const` keyword e.g. the in new `switchElementsAlt` method: https://github.com/MoOx/pjax/blob/b98e3ef9144553e3e8c70c82b04b5220f2dab589/lib/switches.js#L23

While this is not an issue of itself, the npm prepublish script doesn't include a transpiling step, meaning that these `const` keywords are still prese

[2018-01-18 20:41] BehindTheMath commented on #106
You're right, that's a bug. While it would be great to use ES6, a big part of Pjax is being compatible with older browsers, and I don't think it's makes sense to add extra tooling at this point.

You can submit a PR, or I'll fix it when I have a chance.

[2018-01-18 20:44] robinnorth commented on #106
@BehindTheMath I agree that it seems like a lot of effort to add extra tooling to transpile 3 keywords, so I will submit a PR for you. I'm currently using the library in a project I'm developing and was very pleased to see your efforts in working towards pushing out a new version on npm -- I'm very happy to do anything I can to help move that along 😄

[2018-01-18 20:59] BehindTheMath opened #108 "Minify pjax.js"
We should add a minified version of `pjax.js` to the NPM package, to reduce the bandwith required for anyone linking to it directly (using unpkg.com).

[2018-01-18 21:00] #106 closed

[2018-01-18 21:12] jimaek commented on #108
jsDelivr can auto-minify css and js files. Check it out http://cdn.jsdelivr.net/npm/pjax@0.2.4/pjax.min.js

[2018-01-18 21:16] BehindTheMath commented on #108
Cool. Maybe we should suggest this for the unminified version as well, instead of Unpkg.

[2018-01-19 06:00] MoOx commented on #108
Can be added to npm package, but imo should not be versionned (can quickly become a pain to maintain). You can exclude with gitignore but include with npm package.json/files section.

[2018-01-19 06:03] BehindTheMath commented on #108
Do you mean it shouldn't be committed to Github?

[2018-01-19 06:04] MoOx commented on #108
Exactly.

[2018-01-19 06:09] BehindTheMath opened #109 "Convert code to ES6 and add a transpile build step"

[2018-01-19 10:59] robinnorth commented on #109
This sounds sensible, if this still ends up using Browserify with the addition of the Babelify transform, you could add the following to`package.json` to allow people bundling the npm package through Browserify (my usage) to get transpiled output as well (Browserify won't transform anything under `node_modules` by default):

[code]

[2018-01-21 07:02] BehindTheMath commented on #46
If it's triggered by every switch, that would mean doing it in `onSwitch()`, but there's no way at that point to tell which switch triggered it.

[2018-01-22 04:05] BehindTheMath commented on #28
@MoOx What was the issue with the fallback?

[2018-01-22 04:12] BehindTheMath commented on #18
@MoOx Do we still need to support browsers that don't support the History API? According to [caniuse](https://www.caniuse.com/#search=history), nearly 95% of browsers in use support it.

In my opinion, we should just have 1 check for `isSupported()` in the constructor before doing anything, and then make the user responsible for implementing a fallback.

[2018-01-22 04:26] BehindTheMath commented on #10
@MoOx We don't have a user-facing `popstate` event, as opposed to jquery-pjax, which exposes a `pjax:popstate` event. So this issue isn't relevant to us.

Unless you mean that we should implement that event as well.

[2018-01-22 04:31] BehindTheMath commented on #9
I.e. if the user clicks back while a PJAX request is loading, the originally requested page is displayed anyway once the XHR response arrives.

[2018-01-22 04:42] BehindTheMath commented on #11
@MoOx jquery-pjax said about that PR that they're

Besides, shouldn't this be already covered by [execute-scripts](https://github.com/MoOx/pjax/blob/ca61c4a8402f5159065326d48b14b25bce5d277d/lib/execute-scripts.js)?

[2018-01-22 07:12] MoOx commented on #109
Another possibility is to include in npm package compiled files (but ignore those in git).

[2018-01-22 13:10] MoOx commented on #28
2014, can't remember. I guess it was to improve default switch when there is a failure. But it's too vague.

[2018-01-22 13:10] #28 closed

[2018-01-22 13:11] MoOx commented on #18
2014, I guess we can just forget this.

[2018-01-22 13:13] MoOx commented on #10
Not sure what I was really thinking in 2014 :D

[2018-01-22 13:14] MoOx commented on #11
Maybe...? :D

[2018-01-22 16:14] #18 closed

[2018-01-22 16:14] #10 closed

[2018-01-22 16:15] #11 closed

[2018-01-22 16:52] BehindTheMath commented on #46
I think there are 3 options when to trigger `pjax:switch`:

- In `onSwitch`, which will trigger on every switch, and let the user debounce the multiple events (as @darylteo [proposed earlier](https://github.com/MoOx/pjax/issues/46#issuecomment-168901513)).
- In `afterAllSwitches`, which will trigger only once after all the switches finish.
- At the end of each of the default switches, which would

[2018-01-22 18:45] robinnorth commented on #46
@BehindTheMath I use events because my JS is modularised to ensure separation of concerns -- I have a component that is responsible for setting up Pjax and related functionality ([topbar](https://github.com/buunguyen/topbar) loading indicator etc.) and defining my custom switch, but other components that add specific functionality to my main content (e.g. a masonry grid) need to know when a switch

[2018-01-22 19:13] BehindTheMath commented on #46
Got it.

This would only work if the user passed the element to `onSwitch()`, which is currently not done. I guess we could add a note that if you pass it, it will be sent along with the event.

This will be even easier if we switch to an event emitter (see #53).

[2018-01-22 21:05] robinnorth commented on #46
Good point -- we could do that, or we could pass a pre-bound callback to each switch function to call at the end of the switch process.

i.e in `lib/switches-selectors.js`, do something like `var onSwitch = this.onSwitch.bind(this, selector)` and pass it in to each switch.

Sounds like a good idea -- but maybe something to do after pushing out a new release? Such a change would probably be a fairl

[2018-01-22 21:17] BehindTheMath commented on #46
That's also a breaking change. I think it will be simpler to just have the user pass the element to `onSwitch`.

We have a breaking change already, I moved the trigger for the `resize` and `scroll` from `onSwitch` to `afterAllSwitches` without thinking about this issue. I could move it back, but switching from those events to `pjax:switch` is regardless going to be a breaking change.

But I think

[2018-01-22 23:05] robinnorth commented on #46
Sounds like a good plan to me!

[2018-01-23 01:32] #22 closed

[2018-01-23 01:32] #30 closed

[2018-01-23 01:44] BehindTheMath commented on #46
Done, see 6000ad5.

[2018-01-23 07:03] MoOx commented on #46
Go ahead. You have full control here, I am just a visitor :)

[2018-01-24 03:06] BehindTheMath commented on #29
Jquery-pjax closed a [similar issue](https://github.com/defunkt/jquery-pjax/issues/393) and said it can't be done.

There's probably a way to do it, but it would probably require some convoluted code, So I think it would be better if we close this.

[2018-01-24 03:06] #29 closed

[2018-01-24 04:55] BehindTheMath commented on #4
@MoOx Isn't this covered by [this line](https://github.com/MoOx/pjax/blob/3c8cd087c5352b92fb7f1090b0c39b29cfa7a31a/index.js#L132) and [this line](https://github.com/MoOx/pjax/blob/3c8cd087c5352b92fb7f1090b0c39b29cfa7a31a/index.js#L132)? I don't know why both are needed, but regardless, the focus should be lost.

This should be a simple fix, similar to what was ultimately implemented [here](https:/

[2018-01-24 07:36] lacrioque commented on #35
I'm sorry I've just seen it a short while ago.
The problem here is, that external scripts are loaded asynchronously.
So we would need another event to give inline-scripts the possibility to react on that.
This however needs promises or multiple callbacks.
This library should be without any dependancies and thus i couldn't just add Promises.

[2018-01-24 08:26] MoOx commented on #4
You pointed the same line, but I guess you are right. Maybe I was referring to event triggered by js (eg: tooltip opened on a tap/click that should be hidden when tapping outside), can't remember...

[2018-01-24 13:45] BehindTheMath commented on #4
Sorry. I meant [this line](https://github.com/MoOx/pjax/blob/3c8cd087c5352b92fb7f1090b0c39b29cfa7a31a/index.js#L132) and [this line](https://github.com/MoOx/pjax/blob/3c8cd087c5352b92fb7f1090b0c39b29cfa7a31a/index.js#177).

[2018-01-24 13:48] #108 closed

[2018-01-24 17:13] joshkadis commented on #35
@lacrioque It's been a while but I vaguely recall having solved this somehow. I will have some free time starting next week to remember what this is all about.

🚀 _time travel back to 2015_

[2018-01-24 23:54] #9 closed

[2018-01-25 07:50] robinnorth commented on #27
Fixed in #114

[2018-01-25 07:50] #27 closed

[2018-01-25 09:06] robinnorth commented on #97
As discussed in #114, one thing that we need to standardise on when implementing this is a consistent format for module `require` calls -- specifically whether to keep or drop the file extension. Prettier doesn't have an opinion on this, so we can decide either way. It seems like currently there's roughly a 50:50 split of `require` calls that include an extension and those that don't.

[2018-01-25 09:08] MoOx commented on #97
eslint + eslint plugin import can do that.
Prettier is for style only :)

[2018-01-25 18:45] robinnorth opened #117 "Inline scripts can trigger `pjax:complete` event before `loadUrl` does"
After an inline external script that has been processed by `lib/eval-script.js` loads, it triggers a `pjax:complete` event which can sometimes fire before `loadUrl` triggers its own `pjax:complete` and `pjax:success` events.

The [documentation](https://github.com/MoOx/pjax#ajax-related-events) doesn't suggest that we should be firing multiple `pjax:complete` events, so I think we should either ch

[2018-01-25 20:05] BehindTheMath commented on #117
Is this related to #35?

[2018-01-25 21:38] robinnorth commented on #117
Any fix for #35 will almost certainly have to hook into the script onload events defined in `lib/eval-script.js`, but the two issues don't otherwise have the same cause or solution. Might be good to try and fix both at the same time, but this one is probably the easier of the two to resolve.

[2018-01-26 00:15] BehindTheMath commented on #97
As @robinnorth mentioned [here](https://github.com/MoOx/pjax/pull/116#discussion_r163795662), we should look into implementing a rule for standardizing the order of imports/requires.

[2018-01-26 15:39] robinnorth commented on #35
Whilst looking into #117, I noticed that `lib/eval-script.js` claims to force inline external scripts to execute asynchronously, but actually forces them to be *synchronous*: https://github.com/MoOx/pjax/blob/09f14fc86cd161f3a27e988b56212322b08e2a16/lib/eval-script.js#L21

Does this not mean that, assuming the script tags in the new document being switched are written in the correct order (i.e. in

[2018-01-26 17:23] BehindTheMath commented on #35
I did a quick test, which appeared to be like you said. The comment on that line would be wrong, but the behavior seems to be correct.

If that's true, I think we should leave it as synchronous, and just change the comment. That behavior would reflect how a new page would be parsed, which is by default synchronous.

[2018-01-26 17:46] robinnorth commented on #35
I have actually just changed that comment in #118, so maybe that's all we need to do to close this 😄

[2018-01-29 13:43] BehindTheMath commented on #35
@joshkadis @lacrioque Is there anything we're missing here?

[2018-01-29 14:27] #40 closed

[2018-01-29 20:03] #4 closed

[2018-01-31 21:46] #117 closed

[2018-01-31 21:49] BehindTheMath commented on #35
@joshkadis @lacrioque I'm going to assume for now that this was fixed by 09f14fc, and the comment was just backwards (and was fixed in #118).

If that's incorrect, please let us know and we can reopen this.

[2018-01-31 21:49] #35 closed

[2018-02-01 03:19] BehindTheMath commented on #17
Currently, by default, if the href of the link is the same as the current URL, Pjax will do nothing. The user has the option to set `options.currentUrlFullReload` to `true`, in which case it will trigger a full page reload.

I agree with @darylteo, and I don't think Pjax should do anything different in this scenario. If anything, it should be left to the user.

If I'm not mistaken, if the user wan

[2018-02-01 11:17] robinnorth commented on #17
We could add a custom event (triggered on the link or document, like all the other `pjax:*` events?), but equally you can already achieve custom behaviour with `click` event handlers without the need to listen for any special events. The following code (adapted from `example.js`) demonstrates that:

[code]

(Note that if `cacheBust` is set to `true`, both the example check for the requested link h

[2018-02-01 18:43] BehindTheMath commented on #17
I think that's an excellent summary. I'm going to add some documentation like that to the README, and leave `currentUrlFullReload` the way it is.

[2018-02-01 20:01] robinnorth commented on #17
Great, sounds good to me.

[2018-02-02 14:52] #17 closed

[2018-02-02 16:46] BehindTheMath commented on #102
Version 0.2.5 has been released to NPM.

[2018-02-02 16:46] #102 closed

[2018-02-06 08:44] phifa commented on #109
Webpack?

[2018-02-07 14:13] BehindTheMath commented on #109
@phifa I believe Webpack is overkill for a library like Pjax. Webpack is more suited for a webapp with different types of assets or multiple entry points. For Pjax, Babel and Browserify should be fine.

[2018-02-07 14:20] MoOx commented on #109
Rollup should be a good candidate.

[2018-02-07 14:23] BehindTheMath commented on #109
Do we even need Rollup?

[2018-02-07 14:23] MoOx commented on #109
I just know that Rollup is nice for library authors

[2018-02-07 14:24] BehindTheMath commented on #109
True. I'll have to look into the differences between Rollup and Browserify.

[2018-02-10 12:27] jbrhel commented on #102
I'm still gettig this issue "Cannot read property 'sideBySide' of undefined", under version 0.2.5. Thank you in advance for your help.

<img width="630" alt="" src="https://user-images.githubusercontent.com/1133430/36062121-1ea7f54a-0e66-11e8-905c-c5cf5efd2de8.png">

[2018-02-10 23:14] robinnorth commented on #102
@jbrhel Can you post your code? Modifying `example/example.js` to use the `sideBySide` switch function works as expected under 0.2.5.

[code]

[2018-02-11 09:07] BiserStoilov opened #122 "Load new content with script, not click event"
Hi,

i try manually load content:

`<script>
$("#content").trigger("click");
</script>`

but without result.
How can i manually load new content?

Thanks in advance!

[2018-02-11 14:24] BehindTheMath commented on #122
You can use `pjax.loadUrl(url)`.

[2018-02-12 13:19] #122 closed

[2018-02-15 15:03] zeraphie opened #123 "Differing Response Options"
Hey there,

I'm adding PJAX to an application I've been working on in Laravel, but I'm having trouble creating custom responses for when an action is "rejected"

In this particular example, without PJAX added in, the application displays a toast notification when a user tries to delete a resource that is currently being edited by a different person.

At the moment, within the controller I have thi

[2018-02-15 15:07] BehindTheMath commented on #123
Why do you need to use Pjax for this? Why can't you make a simple AJAX request? Pjax isn't meant to be used with Json responses.

[2018-02-15 15:11] zeraphie commented on #123
Because if the resource isn't being edited at the time, it should make a normal pjax request to the page instead (to be edited)

[2018-02-15 15:20] zeraphie commented on #123
I forgot to add that also if someone goes to the link without using pjax that it responds with a redirect to the resource homescreen with a flash message of the same text

[2018-02-15 15:24] BehindTheMath commented on #123
I don't think this is a common architecture. In my experience, APIs either return server-side rendered HTML or JSON, but not both.

I think it would make more sense for you to extend Pjax and implement your own code to parse the response.

What we can do to make that easier is to move the XHR callback to a separate prototype method of Pjax, to make it easier to override.

@robinnorth What do you t

[2018-02-15 15:33] zeraphie commented on #123
I'd be happy with a way to get to the request earlier in the call :)

And it's not really working with an API per se

[2018-02-15 16:07] robinnorth commented on #123
I agree that it's a bit unusual for the same URL route/API endpoint to return a different response type for the same request, dependent on some other condition (in this case, whether a resource is being edited or not). The way that you have it working without PJAX -- a redirect to another route which can then show a flash message -- is more in keeping with RESTful API best practices, as you're mak

[2018-02-15 21:55] BehindTheMath commented on #123
That's a good idea. Regardless whether it solves this issue, it would be a good idea to give the user access to the response so they can decide what to do in event of unexpected data.

[2018-02-16 08:45] zeraphie commented on #123
That's pretty much what I was looking for :)

[2018-02-17 09:42] jbrhel commented on #102
@robinnorth Thank you for your comment. My code was:

[code]

So I replaced **this** by **Pjax** and it's working now.

[2018-02-17 10:12] BiserStoilov opened #124 "Bug with submit form - radio and checkbox"
Hi,

i found small bug when pjax submit form with radio and checkbox.

This code in attach-form.js

`
if ((element.attributes.type !== "checkbox" && element.attributes.type !== "radio") || element.checked) {
        paramObject.push({name: encodeURIComponent(element.name),
        value: encodeURIComponent(element.value)})
}
`

maybe must replace with this

`
if ((element.attributes.type.nodeValue

[2018-02-17 10:29] robinnorth commented on #102
Hi @jbrhel, you're welcome! You can actually simplify your `switches` config even more to just

`'#content-main': Pjax.switches.sideBySide`

[2018-02-17 11:17] robinnorth commented on #124
Thanks @BiserStoilov. `Attr.nodeValue` is deprecated in favour of `Attr.value`, but otherwise I think you are right.

Feel free to submit a PR (ideally with tests) to implement this, if you like, otherwise this will get looked at at some point for a future release.

[2018-02-17 11:58] borkor commented on #124
Unfortunately this solution will not work with Select. Just tested it.

[2018-02-17 13:12] BiserStoilov commented on #124
This work for me:

`var elementType;
                            if (element.tagName.toLowerCase() === "input") {
                                if (element.type === "text") {
                                    elementType = "input";
                                }
                                if (element.type === "checkbox") {
                                    elementType = "checkbox";

[2018-02-17 15:49] borkor commented on #124
@BiserStoilov  Looks good. Tested it :+1:

[2018-02-17 15:56] borkor commented on #124
@BiserStoilov Can you make a pull request?

[2018-02-18 20:23] Sevenarth opened #126 "Forms with GET method not working"
Hi,
I am using your fantastic module for my new application but I encountered a problem with forms.
I figured it is working perfectly for forms with POST method, but when I try to use GET form, the form submits without appending the fields to the query string. The form in specific is a search form, with a singular field named **s**. I checked the web inspector and the module is making a successful

[2018-02-19 04:56] iahmad opened #127 "Issue when using loadUrl : Cannot read property 'requestOptions'"
Hi,
I'm using this lib with webpack, and everything work just fine. But when I try to use loadUrl() I got an error.

	var pjax = new Pjax({
		elements: "a:not(.no-pjax)", // default is "a[href], form[action]"
		selectors: ["#content-container"]
	});

	pjax.loadUrl("/");

I got this error

[code]

I don't know if this is a bug or I'm missing some thing.
Thank you

[2018-02-19 05:06] iahmad commented on #127
With the help of the answer here
https://github.com/MoOx/pjax/issues/32#issuecomment-59639530

I managed to get it working by doing so :
[code]
Thanks.

[2018-02-19 05:07] #127 closed

[2018-02-19 09:27] robinnorth commented on #126
Can you post your code or ideally make a reduced test case using JSFiddle that demonstrates the issue?

[2018-02-19 18:22] Sevenarth commented on #126
Thank you for your answer, apparently JSFiddle does not accept forms with GET request. I will just write my code down here.

JS/Webpack
``
var Pjax = require('pjax')

var pjax = new Pjax({
  selectors: ["title", "main", "#header-nav"],
  cacheBust: false
})
``
HTML/Blade (Laravel)
``
    <form action="{{ route("panel.sellers.home") }}" method="get">
      <div class="row">
        <div class="inpu

[2018-02-20 00:40] vesper8 opened #128 "is this compatible with Vue ?"
I've been using Vue with Turbolinks and this requires me to use

https://github.com/frenzyapp/turbolinks (to handle server responses with Laravel)
https://github.com/jeffreyguenther/vue-turbolinks (to make it play friendly with Vue itself)

But I'm not happy with it, or rather I can't get it to work properly.. so now I'm looking to try Pjax instead

And I would prefer to use this library instead o

[2018-02-20 03:58] BehindTheMath commented on #128
I don't know much about Vue, but this library was designed to be used without any other rendering / templating library, since it modifies the DOM directly. I'm not sure how that would affect Vue, but I assume that's what the vue-pjax libraries are for, to integrate the responses with Vue.

[2018-02-21 18:35] robinnorth commented on #126
Thanks @Sevenarth, you are quite right that Pjax wasn't appending the query string to the URL when submitting GET forms. This should be fixed in #129 now.

If you have time, perhaps you could check out the branch and test this for me?

[2018-02-21 18:38] robinnorth commented on #124
Thanks for your PR, @BiserStoilov. In fixing #126, however, I have also resolved this issue in my PR. Sorry about that!

Perhaps you could check out the branch and test to see if this resolves your original issue?

[2018-02-21 18:42] robinnorth commented on #128
@vesper8 sounds like the thing to do is try using Pjax with Vue and see what happens. However, as it does modify the DOM directly, you may well find it conflicts with Vue.

https://github.com/riverskies/vue-pjax-adapter looks like it implements the same/similar functionality to Pjax though, so you could just use that if you are looking for something designed specifically to work with Vue.

[2018-02-21 18:42] #128 closed

[2018-02-27 02:45] venzersiz opened #130 "Question: Doesn't this library have the feature that invoke manual pjax?"
Hi, I'm using defunkt/jquery-pjax. but this library has bug. Then I am replacing spa library.

I read the document fully. But I can't find that feature. Would you help me?

[2018-02-27 03:46] BehindTheMath commented on #130
You can use `pjax.loadUrl()`.

[2018-02-27 05:17] venzersiz commented on #130
@BehindTheMath That method have two params. How do I set options parameter? If only href parameter set, error occurred.

Would you guide me the document or code example?

[2018-02-27 06:15] BehindTheMath commented on #130
The second parameter is an options object. You can pass in `pjax.options`, but you will need to make sure `options.requestOptions` exists. For example:

    if (!pjax.options.requestOptions) {
        pjax.options.requestOptions = {};
    }
    pjax.loadUrl(href, pjax.options);

[2018-02-27 06:17] BehindTheMath commented on #130
@robinnorth What do you think about falling back to `this.options` if the options parameter is not set, as well as setting `options.requestOptions = {}` in `parseOptions()`? This way, `pjax.loadUrl(href)` will just work out of the box.

[2018-02-27 06:30] venzersiz commented on #130
@BehindTheMath Thank you very much!

[2018-02-27 07:04] venzersiz opened #131 "'success' event not fired after manual pjax invoking."
**My code**

var pjax = new Pjax({
    selectors: ['#pjax-container'],
    cacheBust: false
});

In this case events fired
1. complete event fired
2. success event fierd

But
pjax.options.requestOptions = pjax.options.requestOptions || {};
pjax.loadUrl(url, pjax.options);

In this case event fired
1. complete event fired

Is this flow right?
or Did I made a mistake?

Thx.

[2018-02-27 16:05] BehindTheMath commented on #130
Related: #127

[2018-02-27 18:29] BehindTheMath commented on #123
@zeraphie Where exactly does the error occur? Is it caught by [this `catch` block](https://github.com/MoOx/pjax/blob/0c7af354fdbd8a5bd287150ba12ae8e7b10208eb/index.js#L202)?

[2018-02-27 22:11] zeraphie commented on #123
Ahhhh I think it was a thrown error but I'd need to be at work to double check

[2018-02-27 22:20] BehindTheMath commented on #123
Ok. I'm just trying to determine where to put the error handling code.

[2018-02-28 16:10] robinnorth commented on #131
Have you checked to see if `pjax:error` is being fired instead? Pjax always triggers either `pjax:sucess` or `pjax:error` when triggering `pjax:complete`.

[2018-02-28 16:14] robinnorth commented on #130
@BehindTheMath yes, that sounds good to me. Per my comment in #129, I think `options.requestOptions` should be split out into a separate property that is just handled internally by the library.

[2018-02-28 16:21] robinnorth commented on #123
If we implement my suggestion of relying on the user making use of HTTP status codes (e.g. returning a 302 redirect in @zeraphie's case), then [this block](https://github.com/MoOx/pjax/blob/a72880d205c904b94bca3b9724336ea46a4890df/index.js#L156-L160) should trigger the `pjax:error` event that we'd want to pass the request object to.

[2018-02-28 16:29] BehindTheMath commented on #123
True. However, if it was a 200 response, but the body was malformed for some reason, it would not be caught there. It might be caught [here](https://github.com/MoOx/pjax/blob/0c7af354fdbd8a5bd287150ba12ae8e7b10208eb/index.js#L202), but I haven't tested that yet. Additionally, that doesn't trigger a `pjax:error` event.

[2018-03-02 20:25] robinnorth commented on #126
Fixed in #129

[2018-03-02 20:25] #126 closed

[2018-03-02 20:25] robinnorth commented on #124
Fixed in #129

[2018-03-02 20:25] #124 closed

[2018-03-03 09:16] DmitryNiko opened #132 "Question: Form with "multipart/form-data""
Hi! Do you have plans to add support for submitting the form using the encryption "multipart/form-data"? This would allow uploading files using pjax, which would be great.

[2018-03-03 22:49] blimpmason opened #133 "Feature request: prefetching pages on link hover"
I'm coming over from Barba.js for the rock solid browser back/forward scroll restoration, but I'm missing Barba's prefetch functionality. Just curious if there's a workaround or a method I could call manually on hover that could start the pjax request before the user actually clicks the link. It can definitely make the transition feel a bit snappier.

Thanks! Really loving the flexibility of this

[2018-03-04 00:41] BehindTheMath commented on #132
Why wouldn't you use a regular AJAX call for that? Are you expecting an HTML response?

[2018-03-04 00:45] BehindTheMath commented on #133
You can definitely implement it yourself. Make the request when the user hovers over the link, cache the response, then override
`pjax.loadUrl()` to first check if the response is cached. If it is, call `pjax.loadContent()` with the cached HTML. If not, call the regular `pjax.loadUrl()`.

[2018-03-04 01:01] DmitryNiko commented on #132
I previously used the jquery-form library in my laravel application for multiple files uploading. Now, having switched to pjax, in forms I use the default html display of validation messages in my views. It would be great to use files uploads in pjax without extra libraries.

[2018-03-06 02:44] venzersiz opened #135 "'contains' method's error"
# CODE

`function contains(doc, selectors, el) {
  for (var i = 0; i < selectors.length; i++) {
    var selectedEls = doc.querySelectorAll(selectors[i])
    for (var j = 0; j < selectedEls.length; j++) {
      if (selectedEls[j].contains(el)) {
        return true
      }
    }
  }`

# Situations

I coded that invoke manual pjax call on `<select>` element's change event. And then doc.querySelector

[2018-03-06 02:51] BehindTheMath commented on #135
@venzersiz Can you post the complete stack trace?

[2018-03-06 02:52] venzersiz commented on #135
pjax.js:981 Uncaught TypeError: doc.querySelectorAll is not a function
    at contains (pjax.js:981)
    at Pjax.loadContent (pjax.js:133)
    at Pjax.<anonymous> (pjax.js:202)
    at XMLHttpRequest.request.onreadystatechange (pjax.js:780)

[2018-03-06 02:57] BehindTheMath commented on #135
You're right, that's a bug.

On [this line](https://github.com/MoOx/pjax/blob/f98f2dd63b48113ff91b6bd8808257bfc723ef6b/index.js#L131):
[code]
should be:
[code]

[2018-03-06 03:54] BehindTheMath commented on #131
@venzersiz Are you still having this issue?

[2018-03-06 08:42] venzersiz commented on #131
@BehindTheMath Oh, I made a mistake. The cause was jQuery pjax I've used has same name event handler. There isn't the problem.

[2018-03-06 08:42] #131 closed

[2018-03-06 10:06] #130 closed

[2018-03-06 18:43] BehindTheMath commented on #123
@zeraphie Were you able to check?

[2018-03-07 15:33] zeraphie commented on #123
Hey!

Sorry, I've been swamped with work lately but should be able to check shortly!

[2018-03-09 10:33] zeraphie commented on #123
Yeah, I can confirm it is caught there

[2018-03-09 14:32] #135 closed

[2018-03-09 15:10] blimpmason commented on #133
Thanks for your response — do you know if there is any chance of adding this as an option in the future? I haven't had a chance to dig in to it yet, but I feel like it would be widely used if native prefetch support was built in.

[2018-03-09 15:11] BehindTheMath commented on #133
@robinnorth What do you think?

[2018-03-12 13:21] robinnorth commented on #133
Prefetch on mouseover/touchstart of links could be a very nice feature to have, for sure. It's probably worth adding it to a future milestone.

[2018-03-13 03:58] BehindTheMath commented on #53
I think this will make testing easier and cleaner, as it will be easier to remove event listeners and avoid issues of event listeners on `document` carrying over between tests.

[2018-03-14 14:35] zeraphie opened #139 "Checkbox values in a form"
Hey again,

I've just been checking through this with a form and I've noticed some strangeness with how forms are being handled (namely, checkboxes in forms)

The default behaviour for a browser is that on submitting a form, it will only include a checkbox if it is checked, and that the value of the checkbox is what is sent. I.e. you can attach the value attribute as what gets submitted, and it ch

[2018-03-14 18:11] BehindTheMath commented on #139
Unfortunately,  `FormData.entries()` is a newer feature, so not all browsers support it.

[2018-03-14 20:08] robinnorth commented on #139
Hmm, any chance you can put together a test case using JSFiddle or similar? There's a form example under `example/forms.html` you can use as a base.

The current method for building the request params object should only be including checked inputs though, as `if ((element.attributes.type !== "checkbox" && element.attributes.type !== "radio") || element.checked) {` results in all checkboxes and rad

[2018-03-14 20:13] robinnorth commented on #139
However, the PR that fixed various issues around form submission (#129) landed after 0.2.5 was released, so unless you're using the latest code from master, you won't have this in your copy of the library -- please can you confirm which version of Pjax you're using?

[2018-03-15 09:43] robinnorth commented on #139
Yeah, just checked and the code sample you posted shows that you're using 0.2.5 (the same code block from master looks like [this](https://github.com/MoOx/pjax/blob/05fa833169712bcdc9e0db723022495dbc5a15c1/lib/proto/attach-form.js#L53-L57) -- checkout the library from master and I think you'll find everything should work as expected.

[2018-03-15 14:33] zeraphie commented on #139
I'm using yarn, and the latest release is 0.2.5 on there

[2018-03-15 14:35] BehindTheMath commented on #139
Try installing from the Github repo instead, so you get the latest commits.

With npm, that would be `npm install moox/pjax`. Yarn probably has a similar command.

[2018-03-15 17:35] zeraphie commented on #139
That seems to have fixed it now, it was a bit of a pain to get though, when is 0.2.6 coming out?

[2018-03-15 17:36] BehindTheMath commented on #139
When all the bugs are fixed. :grinning:

[2018-03-15 19:53] nanook21 opened #140 "Scripts and stylesheets in head"
Is there any way to load in javascript and stylesheets that are included within the <head> tag?

[2018-03-15 20:00] BehindTheMath commented on #140
JS `<script>` tags should be executed. You can look at [`eval-script.js`](https://github.com/MoOx/pjax/blob/master/lib/eval-script.js) and [`execute-scripts.js`](https://github.com/MoOx/pjax/blob/master/lib/execute-scripts.js) to see how it's done.

CSS `<style>` tags will be inserted into the DOM depending on the switch you use.

[2018-03-15 20:12] #123 closed

[2018-03-15 20:14] nanook21 commented on #140
Hmm, maybe something is wrong my configuration?

I've gotten simple page here:
http://hostonfiber.com/pjax-test/page1.html

It's supposed to change colors when going to the second page and fire a Javascript alert, but neither happen.

[2018-03-15 20:32] BehindTheMath commented on #140
Try using `"head"` instead of `"title"`:
[code]

[2018-03-15 22:04] nanook21 commented on #140
Thanks a lot! That helped.

Two more questions:

1) With a page that includes an embedded Flickr widget I get this error:

Failed to execute 'write' on 'Document': It isn't possible to write into a document from an asynchronously-loaded external script unless it is explicitly opened.

Any way around that?

You can see that by going here:
http://hostonfiber.com/pjax-test/page1.html

and clicking Pa

[2018-03-16 00:11] BehindTheMath commented on #140
1) Take a look at [this SO question](https://stackoverflow.com/questions/24297829/execute-write-on-doc-it-isnt-possible-to-write-into-a-document-from-an-asynchr).

[2018-03-16 00:16] BehindTheMath commented on #140
2) The point of `cacheBust` is to force the browser to re-request the page even if it was previously requested and cached, since the URL won't match the one that was cached.

Truthfully, I'm not sure why it's enabled by default. The default behavior of browsers is to use the cache.

@MoOx @robinnorth What are we missing here?

[2018-03-16 00:21] #139 closed

[2018-03-16 03:05] BehindTheMath commented on #132
@DmitryNiko Can you explain a bit more what you're trying to do? Are you trying to upload files to an endpoint that returns an HTML message?

[2018-03-16 13:37] robinnorth commented on #140
Looks like cache busting has always been the default behaviour of the library, an option to disable it was added in #71.

It may be more sensible to have it disabled by default -- as a breaking change, that would need to happen in the next major or minor release, not in a patch release (i.e. not 0.2.6)

[2018-03-16 15:13] BehindTheMath commented on #140
You're right. I'm just trying to understand why it was set up like that to begin with.

@MoOx Do you remember why?

[2018-03-16 21:39] nanook21 opened #142 "Override window.location ?"
Would it be possible to have pjax regex replace window.location calls into PJAX calls if they are on the same host?

I have some sites that I don't control the raw code, just the CMS and header/footer, and realized that it is using window.location in some weird places.

[2018-03-16 23:22] DmitryNiko commented on #132
@BehindTheMath Yes. I use the simple form submiting, which returns html response, and if pjax will supports submiting form with multipart encryption via js `FormData()`, there would be no need to use another method for submiting form with multipart.

[2018-03-18 04:10] BehindTheMath commented on #142
I played around with it for a while. Basically, you can't reassign `window` or `window.location`. So I don't think this will work.

[2018-03-18 17:42] nanook21 commented on #142
Would it be possible to regex replace the content that comes back from the Ajax request before it gets processed?

[2018-03-18 18:04] BehindTheMath commented on #142
If I'm not mistaken, assigning `window.location` doesn't make an AJAX request, it reloads the page completely.

[2018-03-18 18:56] nanook21 commented on #142
I had meant the Ajax call that Pjax makes when loading in a new page. That comes back as a string of content doesn’t it?

So if all references to window.location in that string were replaced, window.location would never end up in the dom.

[2018-03-18 19:24] BehindTheMath commented on #142
v0.2.6 will have a new `pjax.handleResponse()` method that you can use to do that.

If you want to try it now, you can install from Github. With NPM, that would be `npm install --save moox/pjax@master`.

Then you can do something like this:
[code]

[2018-03-18 19:30] nanook21 commented on #142
Great, thanks!

[2018-03-18 19:30] #142 closed

[2018-03-20 09:54] nbl7 opened #143 "Loading js file for a single page, best practice?"
Hello there,

I cannot find the best solution for loading js files, only for a single page and only once.

I've divided all my js files between global files and single-page files, respectively outside and inside the pjax container that is being replace.

But of course every time I come back to a single page the js file is loaded again and all the function like `on.('click')` are fired another time

[2018-03-20 12:44] BehindTheMath commented on #143
Can you explain a bit more what your setup looks like, or show some code? I'm not sure what you mean by single page file.

[2018-03-20 17:31] nbl7 commented on #143
Yes, sorry.
For example, this is the map of a website:

- Homapage
- About us
- Contact

All three pages need `jquery.js` and `main.js`.
But _Homepage_ need another script called `home.js`
and _Contact_ need `contact.js`

`#main` is the container I am replacing with `pjax`

If I put the script `home.js` inside the div `#main`, every time i go to the homepage the `home.js` is fired, so I don't thin

[2018-03-20 19:34] BehindTheMath commented on #143
I'm not sure why you would want to execute it only once and not on each page load.

Regardless, I can think of 2 options:
* Move the script tags into the `<head>` of your container page, store any data in global variables, and access them from the corresponding page.
* Use a global variable to check if the code was run already.

[2018-03-20 19:51] nbl7 commented on #143
Thanks for the answer.

That is what I did. But I thought there was a way the plugin can automate this process.

The reason I don't wan't to load twice the js is because otherwise I will bind multiple times click events on DOM elements.

Thanks
nbl7

[2018-03-21 01:53] BehindTheMath commented on #132
Can you post the HTML and JS code you're using to upload the form? You can use something like [CodePen](codepen.io) if that's easier.

[2018-03-27 12:35] zeraphie opened #146 "Multi-select fields"
Hey again,

Going back to a similar thing as issue #139, I've recently found out that the multi-selects don't submit subsequent selected values (it only takes the first one chosen), I've put back in my hotfix that I mentioned there (I have the advantage that I don't need to support the other browsers)

[code]

For reference, I've readded the fix below into my project (there's also a polyfill here

[2018-04-10 08:46] robinnorth commented on #146
Can confirm that only the first selected value in a multi-select is submitted with PJAX's current form handling behaviour. @BehindTheMath, we can use `FormData` if we drop IE9 support, otherwise the fix for this is pretty easy -- I already have something working locally.

[2018-04-10 22:59] BehindTheMath commented on #146
It seems to me that using `FormData` results in a drastically request body being sent, since it uses `Content-Type: multipart/form-data` instead of `Content-Type: application/x-www-form-urlencoded`. I haven't looked into if there's a difference how backend servers parse them, but it's possible that this would be a breaking change, even though the structure of the request body is not documented.

[2018-04-11 14:45] zeraphie commented on #146
I've noticed no adverse effects of using form data :)

[2018-04-12 04:59] BehindTheMath commented on #146
@zeraphie If I remember correctly, you're using PHP in the backend. From what I'm told, PHP doesn't differentiate between the two.

However, Express.js for Node uses 2 different libraries to parse `application/x-www-form-urlencoded` and `multipart/form-data`.

I think we should stick with `application/x-www-form-urlencoded` (or possibly switch to `application/json`).

@robinnorth Can you implement

[2018-04-12 22:03] #146 closed

[2018-04-13 13:50] BehindTheMath commented on #132
@robinnorth @zeraphie I just took another look at this after working with #146 and #147, and I think it would be a good idea to allow the user to override the default encoding by setting the `enctype` attribute on the `form`.

So Pjax would first check the `enctype` attribute, and if it wasn't set, use the default `application/x-www-form-urlencoded` encoding instead.

This would avoid any breaking

[2018-04-13 15:34] zeraphie commented on #132
That's interesting, would it still use the parser that's currently being used?

[2018-04-13 15:36] BehindTheMath commented on #132
If the user specified the encoding as `multipart/form-data`, we could just use `FormData`, and not have to parse it at all, like you wanted originally.

[2018-04-16 00:06] cpetro opened #149 "determine if content in a pjax container is changed or not"
If I use the default behaviour of pjax, with no switches , only the new (additional) content appears to load, and any existing content that is already on the page  just stays where it is, this is good but it cannot be animated

is there a way to animate only the new content , and leave the existing content in its place unless it is being removed/ changed? how can I create a new switch callback to

[2018-04-17 02:58] DullSky opened #150 "no online demo pages?"
the example is invalid it will be redirect to new page

[2018-04-17 03:08] #150 closed

[2018-04-17 03:58] jcleng opened #151 "about history and loadUrl not effective"
useing
`var pjax = new Pjax({
                    selectors: ["body"],
                    history: true
                });`
the history not effective,and
`
pjax.loadUrl("3.html", {
                    requestOptions: {
                        timeout: 200
                    },
                });
`
useing pjax.loadUrl without history

[2018-04-17 04:02] BehindTheMath commented on #151
The `history` option is `true` by default; there's no need to set it manually.

What are you trying to accomplish?

[2018-04-17 04:13] jcleng commented on #151
@BehindTheMath i will trying to accomplish this:
`pjax.loadUrl("3.html", { requestOptions: { timeout: 200 }, });` and to change my history with browser,but ,loadUrl without changge browser history . maybe is my problem,?

[2018-04-17 04:27] jcleng commented on #151
@BehindTheMath notworking

[2018-04-17 04:31] BehindTheMath commented on #151
The history under the back button stays the same?

Try cloning the repo, and run `npm run example` in the console. Click one of the button on the example page and check if the history changes.

[2018-04-17 04:35] jcleng commented on #151
@BehindTheMath but i not useing npm ,useing `<script src="https://cdn.jsdelivr.net/npm/pjax/pjax.min.js"></script>`,can't working for this?

[2018-04-17 04:54] BehindTheMath commented on #151
Can you check the console in the browser and see if there are any errors?

[2018-04-17 05:25] jcleng commented on #151
@BehindTheMath 0 errors,maybe rewrite source code

[2018-04-18 02:26] #151 closed

[2018-04-18 10:39] robinnorth commented on #132
I can see the benefits of supporting both types of form encoding, so long as it doesn't make the library unnecessarily bloated or complex to test and maintain. If there's a danger of that happening, perhaps we should just switch to `FormData` in the next major version (and drop IE9 support?). Anyone who specifically requires `application/x-www-form-urlencoded` support can continue to use the last

[2018-04-18 14:02] BehindTheMath commented on #132
@robinnorth I put together a PR to add this feature, and it doesn't seem to be complex.

It's dependent on #148, so I'm going to wait to submit it until that is merged.

[2018-04-18 17:02] robinnorth commented on #132
Great, I only had a couple of comments to resolve on #148 before that can be merged. Looking forward to seeing the PR for this!

[2018-04-25 17:27] hanzzame opened #152 "loadUrl() not change url and some error"
i have a problem using loadurl()
if  i use `pjax.loadUrl("/your-url");` i have a error `typeError: options is undefined on line 154:5 pjax.js`
this my script
[code]

if i comment `//options.requestOptions.timeout = this.options.timeout` inline 154 page is load but url not change.

how to fix this.
Thanks.

[2018-04-25 17:34] BehindTheMath commented on #152
This is a duplicate of #127.

This has been fixed and will be released with v0.2.6. Until then, you can use the workaround mentioned in #127.

[2018-04-25 17:37] BehindTheMath commented on #152
Regarding the URL not changing, does the new page load?

[2018-04-25 17:40] hanzzame commented on #152
yes new page is load, only url not change.

[2018-04-25 21:05] BehindTheMath commented on #152
Can you try with the latest version from Github? Clone the repo, and run `npm run build`.

[2018-04-26 02:54] hanzzame commented on #152
Hallo,

this problem solved thanks for your support
i follow instruction in #127 and `npm run build`

is this can support submit/upload image `enctype="multipart/form-data"`?

Thanks you.

[2018-04-26 02:57] BehindTheMath commented on #152
i follow instruction in #127 and npm run build

Great. We hope to release v0.2.6 soon, which will include this fix.

Right now, no, but it's the next thing on my to do list. See #132.

[2018-04-26 02:57] #152 closed

[2018-04-27 09:37] Malvoz opened #154 "[Enhancement] Google Tag Manager"
How would I go about modifying the current [pjax.min.js](https://cdn.jsdelivr.net/npm/pjax/pjax.min.js) from having the currently integrated Analytics code to [Google Tag Manager](https://developers.google.com/tag-manager/quickstart) instead?

Google is now recommending GTM over Analytics, could we have an example of such integration?

[2018-04-27 13:05] BehindTheMath commented on #154
I've never used GTM. Can you post the code you're currently using?

[2018-04-27 14:53] BehindTheMath commented on #149
There's no way out of the box to know which content has been switched, unless you create your own switch and keep track.

If you just want to animate the new content, create your own switch and do it there. Take a look at the [README](https://github.com/MoOx/pjax#switches-object-default-) for how to do that.

[2018-04-28 01:26] Malvoz commented on #154
@BehindTheMath

https://developers.google.com/tag-manager/quickstart

[2018-04-29 19:04] BehindTheMath commented on #154
I don't mean the initialization code from Google. I mean the code you use to actually log events. Similar to the `ga()` function for Google Analytics. What are the function calls? When are they called? What type of data do you pass to them?

The Pjax's `analytics` function is called after all switches finish, right after the `pjax:complete` and `pjax:success` events are tiggered (see [here](https:

[2018-04-29 19:05] #132 closed

[2018-04-29 20:09] Malvoz commented on #154
I'm not using pjax in production, and the initialization code from Google is the only code I've used in other projects, with GTM you instead add events in your account within the GTM interface.

[2018-05-06 07:02] daybugging opened #156 "Barba.js comparison table in README"
Title says it all. It didn‘t receive any updates for a whole year, so people coming over would like to know differences at a glance, I believe!

[2018-05-09 12:42] obnijnil commented on #156
+1

[2018-05-09 13:02] obnijnil opened #157 "Replace current history entry"
Is there an option, like `data-pjax-action="replace"`, for replacing current history entry when requesting a new page by clicking a link or calling `loadUrl(href, [options])`?

eg. Given a history stack, `page-a > page-b`, it would be `page-a > page-c` after requesting `page-c`.

And it seems like a common usage.

[2018-05-15 15:28] Bran99 commented on #117
I'm not so sure this is closed.  I've manually invoked `.loadUrl` and `pjax:complete` is firing before and after.  Commenting out `pjax.loadUrl(url, options)` seems to still work and remove the double firing, but I'm not sure this is the best approach.  The following is my invocation with `pjax.loadUrl` commented out:

[code]

Like I said, it seems that everything is still running with regards to

[2018-05-16 18:47] BehindTheMath commented on #117
@Bran99 If you're using Pjax, you don't need click handlers; Pjax handles that for you. You also don't need to specify switch functions unless you want custom behavior.

Try replacing the above code with just the Pjax constructor:
[code]

[2018-05-19 10:39] zmitic opened #158 "Bug with select field in forms"
Hi,
for a select field in my GET form, I have default choice with no value like in this screenshot:

![image](https://user-images.githubusercontent.com/1964158/40267638-43b8a43c-5b60-11e8-8b7c-be9031f67b9a.png)

But when I submit it, that text goes into URL like ``http://127.0.0.1:8000/admin/products?manufacturer=--%20Select%20manufacturer%20``. My backend framework (Symfony) complains it is not a

[2018-05-27 17:40] xenace opened #159 "Pjax not working when clicking on a link within DataTables"
There seems to be an issue with Pjax not detecting links within DataTables. Any ideas how to get around this?

[2018-05-27 17:44] BehindTheMath commented on #159
Please link to a CodePen demonstrating the issue.

[2018-05-27 18:45] xenace commented on #159
https://codepen.io/xenace/project/editor/ZgPgEK#0

[2018-05-27 19:12] BehindTheMath commented on #159
What's not working? Everything looks fine to me, and the links work on all pages.

[2018-05-27 19:16] xenace commented on #159
Sorry was just testing, narrowed it down to it being an issue on paginated links. If you switch to a different page and select a link it does not load through Pjax, just as a regular page load. I'm guessing that it's something to do with those links not being in the DOM when loaded.

[2018-05-27 22:55] BehindTheMath commented on #159
It sounds like the elements are being dynamically generated. Try calling `pjax.parseDOM(document)` after switching pages.

[2018-05-27 22:59] BehindTheMath commented on #154
Closing due to lack of follow-up from OP.

[2018-05-27 22:59] #154 closed

[2018-05-27 23:00] BehindTheMath commented on #149
Closing due to lack of follow-up from OP.

[2018-05-27 23:00] #149 closed

[2018-05-27 23:12] BehindTheMath commented on #157
Pjax tries to copy the default behavior of browsers, which is to just add to the history stack when navigating to a new page.

I suppose this would be possible to implement, but how would you signify whether you wanted to replaceState() or pushState() when clicking a link?

[2018-05-28 02:16] BehindTheMath commented on #158
I believe this is the expected behavior.

From [MDN](https://developer.mozilla.org/en-US/docs/Web/HTML/Element/option#attr-value):

What we can do, is prevent the option from being sent if the `disabled` or `hidden` attributes are set.

@robinnorth What do you think?

[2018-05-28 02:35] BehindTheMath commented on #158
I did some quick testing. Looks like the standard behavior is that the field does not get sent when the `disabled` attribute is set.

[2018-05-28 06:50] zmitic commented on #158
You are right; after reading MDN specs, I retested that page and Chrome was lying to me. In reality, generated HTML is ``value=""`` but developer tools didn't display the value, only the attribute.

So the value isn't missing from html, it is an empty string which is totally valid.

[2018-05-28 07:31] xenace commented on #159
That seems to have partly solved the issue however when clicking on the pagination links Pjax is trying to load the root page because the buttons have a href value of # i got around this before by using javascript:void(0) in the href value but would then need to override the datatable functionality to do get around this. Is there any way to tell Pjax to ignore href with # value?

[2018-05-28 07:45] xenace commented on #159
Ignore last message, resolved it by setting elements to a:not(.page-link)

[2018-05-28 17:29] #159 closed

[2018-05-28 19:18] robinnorth commented on #159
Just come here to add that there is actually a `pjax.refresh()` method that is designed for situations like this where you need to make Pjax aware of new DOM elements which we should document properly. It is just a wrapper around `pjax.parseDOM()`, so @BehindTheMath's advice is still correct.

https://github.com/MoOx/pjax/blob/216686696712d4a3cfe1ebe9b43c3fb5c8e2dd30/index.js#L69-L71

[2018-05-28 19:44] zmitic commented on #158
But pls, add it even if it is an empty string.

[2018-05-28 19:46] BehindTheMath commented on #158
`opt.value || opt.text` will return `opt.text` even if the value is an empty string.

[2018-05-28 19:53] zmitic commented on #158
Yes, that is why I created this issue. This code already exists and if value is empty string, pjax will send text value instead.

At that point, backend framework complains avoid invalid value; it didn't render option with such value i.e. ``--Select manufacturer--`` is just something for user (which can be translated), not for backend.

That is correct behaviour of Symfony, browser **must** send o

[2018-05-28 20:02] BehindTheMath commented on #158
Ok, so this should be better:

[code]

This will send `opt.value` if the `value` attribute, no matter what value it has. If it doesn't exist, it will send `opt.text`. I think this matches the spec.

[2018-05-28 20:05] zmitic commented on #158
Well... I am not so good in JS but I think it will do the job. Maybe someone more skilled should give an opinion.

But to be honest, I don't care about text value at all as long as my empty string is working :smile:

[2018-05-29 09:02] bihac opened #161 "Pjax switch fail"
Hi. I got this error on a part of my website.
"Pjax switch fail: Dom doesn't look the same on new loaded page 'title' new 0, old 1"

I have checked both pages title's and they are the same. How can i fix this issue?

[2018-05-29 12:43] BehindTheMath commented on #161
Please post a CodePen demonstrating the issue. If that's not feasible, please post the original HTML, the raw response from the HTTP call, and your Pjax configuration.

[2018-05-29 13:41] bihac commented on #161
Main Page:

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="example" />
    <meta name="keywords" content="example" />
    <meta name="robots" content="index,follow"/>
    <meta name="googlebot" content="all"/>

[2018-05-29 13:46] bihac commented on #161
There is a real time web site. You can see there.

http://radyo.comu.edu.tr

Every pjax request success but in the bottom of main page there are news (HABERLER) you can see. When i click any news link in chrome console it says : "Pjax switch fail: Dom doesn't look the same on new loaded page 'title' new 0, old 1".

[2018-05-29 13:49] bihac commented on #161
and there is pjax call:

var pjax = new Pjax({
        elements: "a.ic-url",
        selectors: ["title", "#main-content","#scripts"],
        cacheBust :false,
    });

    document.addEventListener('pjax:send', displayLoader);
    document.addEventListener('pjax:success', hideLoader);

[2018-05-29 14:20] bihac commented on #161
There are youtube videos in news pages as iframe. Is this may caused that?

[2018-05-29 18:13] BehindTheMath commented on #161
It looks to me that the issue is being cause since one of your selectors is for the `title` tag, but the new page doesn't have such a tag.

[2018-05-29 21:36] bihac commented on #161
I m looking the both pages source code in chrome. Both have same tags including title tag.  Even check when error occoures ajax response html. There is <title> tag inside <head> tag. Can you check please. I couldnt even stop page load when error occoured. How can i stop page load to see console log?

[2018-05-29 22:14] bihac commented on #161
Sorry my bad. There was an issue on server side catching ajax actions thats why there was no title. Thanks again

[2018-05-29 22:14] #161 closed

[2018-05-30 19:39] #158 closed

[2018-06-08 10:23] arjunattam opened #163 "History option does not work"
If I got it right, setting the `history` as `false` will never work because of how the options are parsed.

[2018-06-08 10:23] arjun27 opened #164 "History option does not work"
If I got it right, setting the `history` as `false` will never work because of how the options are parsed.

[code]

This will always return the value as true. I understand there aren't many use-cases for this -- but I was facing this for my browser extension.

Happy to send in a PR if this needs to be fixed.

[2018-06-08 10:25] #163 closed, assigned to nobody

[2018-06-18 02:51] BehindTheMath opened #166 "Switch to Promises instead of callbacks"
Along with #109, we should consider switching to use Promises instead of callbacks. Most environments support it by now, and we can use a polyfill for those that don't.

[2018-06-18 19:42] #164 closed

[2018-06-19 14:03] piperhaywood opened #167 "handleResponse causing problems with history"
I’m trying to get a custom response handler working and am running in to what I think may be a bug. It may well be that I'm doing something wrong though!

As a reduced test case, I've tested this out with the `handleResponse` example from the read me, as below:

[code]

The behaviour is great, as expected, when you click around the links on the site. It is also fine for the first "back" click (`po

[2018-06-19 14:15] BehindTheMath commented on #167
Can you post a link to website or codepen demonstrating the issue?

[2018-06-19 14:21] piperhaywood commented on #167
I don’t have a website I can demonstrate it on just yet unfortunately and can’t figure out how to do this via Codepen since it involves history... I actually just figured out that I was drastically overcomplicating things by trying to create a custom response handler so am no longer using this method.

Regardless, once I get this online I’ll try to do a demo of the behaviour above in case it is us

[2018-06-19 15:43] BehindTheMath commented on #167
Leave it open. I'll try to test it at some point.

[2018-06-22 15:52] davidSocast opened #168 "Forms with enctype set as multipart/form-data get submited with the default application/x-www-form-urlencoded"
Hi guys, i've been struggling with something that i believe is a bug on this excellent library:

From the previous threads and the documentation, my understanding was that forms submitted through pjax are submitted with a content type set to "application/x-www-form-urlencoded".

However, if the form has a enctype set to "multipart/form-data", the pjax  call is supposed to use this value and set th

[2018-06-22 16:04] robinnorth commented on #168
Hi @davidSocast, thanks for reporting this. Yes, looks like this is a bug as the `Content-Type` header is currently always set to `"application/x-www-form-urlencoded"` when submitting a form:

https://github.com/MoOx/pjax/blob/e49d8947f7ca00254d09920784bcf8a3e4e16f2d/lib/send-request.js#L70-L73

We'll look to fix this in the next release of the library.

[2018-06-25 15:16] tafelnl opened #169 "Caching on page leave"
I just started using this PJAX library and I already love it.

There is just one thing I think that would make this library even better:

I have several scripts that load content in my pages dynamically. For example profile pictures that are lazy loaded and several AJAX calls to my REST API that result in new DIV being added to the page.

When a user clicks away from a page and then hits the back

[2018-06-27 19:43] BehindTheMath commented on #169
I don't think it makes sense for Pjax to implement this, since Pjax's goal has nothing to do with AJAX calls made by the webpage.

It should be easy to implement this yourself though. Just store the AJAX responses in top level variables, and check if there's data there before making the AJAX call.

[2018-07-04 16:06] tafelnl commented on #169
Yes that is an option too. But I think you maybe kind of misunderstood the situation I was trying to sketch. Because when one stores the response in a top level variable, you would still have to load these variables in the DOM.

If you store the complete state of a page on page leave, everything will already be there, and therefore the page will load faster.

Also, does this library actually make

[2018-07-04 19:53] BehindTheMath commented on #169
Pjax uses `history.pushState()` to save the state. This occurs when the page is loaded, not when you leave it.

The goal of Pjax is not to be a full-featured front-end framework. Its goal is simply to use AJAX instead of loading a new page when clicking a link or submitting a form, but to keep the UX the same.

In your case, if the script runs when the page is loaded, move that code to a separate

[2018-07-20 19:15] sleddd opened #170 "Needs popstate option to resolve history issue"
If you use whenDOMReady and try hitting the back button, it won't fire using success | complete. To get whenDOMReady to fire when navigating with history (back | forward), you need to attach an event listener to popstate. (i.e. document.addEventListener('pjax:popstate', function(){ //do stuff });

If you alter the pjax library within the function that handles popstate at about line 53 with:
trigge

[2018-07-20 19:32] BehindTheMath commented on #170
What's wrong with the success or complete events?

[2018-07-20 20:06] sleddd commented on #170
Popstate is handled in main Pjax constructor (var  Pjax = function), however success and complete are handled in option of the Pjax.prototype - this means popstate won’t always/if ever hit the trigger for success/complete. jquery-pjax has same issue, but they offer popstate, so it solves any history bugs with that.

I learned this the hard way, because I had a website it caused issues for when re-

[2018-07-20 20:21] BehindTheMath commented on #170
The `popstate` handler calls `loadUrl()` to load the page, just like when you click a new link. Further down the callstack, the `pjax:success` and `pjax:complete` events should be triggered.

[2018-07-20 20:30] sleddd commented on #170
They aren't that's why I added it,  but if you don't want to add it to the main library, or adjust the success/complete, so it does trigger on popstate then that's fine. I can just keep it with my own.

However, it is important to note that popstate, success, and complete are all states it is helpful to be able to add an event listener for.. and i'm sure others could use that option as well.

[2018-07-20 20:32] BehindTheMath commented on #170
I don't understand the issue. Popstate should trigger the success and complete events. Did you try it and it wasn't triggered?

[2018-07-20 20:47] sleddd commented on #170
Unfortunately, no, it was not triggered in every instance...

[2018-07-20 20:48] BehindTheMath commented on #170
Please post your code that reproduces the issue, so I can try to debug it.

[2018-07-20 20:53] #170 closed

[2018-07-20 20:54] sleddd commented on #170
All I can tell you, is that it does not always trigger with success/complete and reliably works with popstate. Thank you for your help, but I have resolved my issue.

[2018-07-22 22:38] BehindTheMath commented on #167
This bug is being caused by a mistake in the README, and as a result, the code snippet in the first post. The `handleResponse` function needs to be passed an `options` parameter, otherwise it has no way to know if it came from a `popstate` event, and it will end up pushing the current state again.

[2018-07-24 00:46] #167 closed

[2018-07-24 00:50] BehindTheMath commented on #168
The fix for this should be simple: just add `&& !formData` to the `if` statement. However, when I started writing tests for this, I ran into what I think is a [bug in jsdom](https://github.com/jsdom/jsdom/issues/2300). So I'm going to wait until that's resolved to work on this.

[2018-07-24 00:57] BehindTheMath commented on #21
As of now we have pretty good coverage, besides for `sideBySide` in `lib/switches.js`. I'm going to leave this open though.

[2018-07-24 01:01] #169 closed

[2018-08-02 08:51] Geolim4 opened #172 "New release o'clock ?"
Hello,

The history bug #164 is blocking, is it possible to release a new version of the lib ?

Thanks you very much !

[2018-08-03 19:32] BehindTheMath commented on #172
I still don't understand why you would want to disable history.

Regardless, if you need this fix now, use `npm install moox/pjax` to install the latest code from Github.

[2018-08-03 20:49] Geolim4 commented on #172
Because of SEO purpose on forms for one of our customer that requested to not have GET parameters visible in URL. I'm as annoyed as you. But it's his request and we just have to comply with it :/

[2018-08-05 17:48] Javiani opened #173 "Scripts ready event"
Hi! First of all, thanks for this awesome lib!

Now, I'm facing a issue where I need to call my library after the scripts of the new page are loaded.
But as I saw in your `execute-scripts` it seems that you create another `script` tag and then remove that... So there's no way I can tell that scripts are ready so I can call my update function.

I'm wondering if there's any way to know when the scri

[2018-08-05 23:46] BehindTheMath commented on #173
Why can't you just listen to the `pjax:success` event?

[2018-08-11 15:09] Javiani commented on #173
Hey @BehindTheMath , thanks for the reply!

Because `pjax:success` fires before the script of the current page is fully loaded and executed.
I know that because if I set a `setTimeout` function in `pjax:success` callback with 2 secs delay it works. So it's clearly a asynchronous issue.

I'm guessing that `pjax:success` fires only when html is ready.
I can solve this asynchronous issue when it's ht

[2018-08-14 00:29] #172 closed

[2018-08-14 00:32] Geolim4 commented on #172
Why did you closed this issue while there's still no new release ATM ?

Not everyone use npm...

[2018-08-14 00:36] BehindTheMath commented on #172
There is no point in keeping this issue open. The release will come when it's ready and someone has time to work on it. I provided an option that can be used in the meantime. If you don't want to install it with npm, you can download the code from Github and build it yourself.

[2018-08-14 00:39] Geolim4 commented on #172
My environment does not let me to use npm nor building it by myself since
this project makes use of a CDN which follows your releases (this is a LTE
project). This is why I'm such a pain in your ass :)

On Tue, Aug 14, 2018, 2:36 AM BehindTheMath <notifications@github.com>
wrote:

[2018-08-14 00:56] BehindTheMath commented on #168
The issue I opened in jsdom has not had a response in 3 weeks, so I'm submitting the fix for this, and the tests will have to wait.

[2018-08-15 19:07] #168 closed

[2018-08-15 19:39] BehindTheMath commented on #172
v0.2.7 has been released.

[2018-08-15 21:05] BehindTheMath commented on #173
It's a bit hard to test this, but it seems that inline code is run immediately and synchronously, so that would finish executing before `pjax:success`. Code in an external file is executed afterwards, possibly in the next tick, maybe because it has to be fetched first.

Are you using an external file?

If yes, I would suggest adding a global callback, and have the external code call that when it's

[2018-08-15 23:50] Geolim4 commented on #172
Thanks you very much 😘

[2018-08-18 02:30] Javiani commented on #173
Hi @BehindTheMath,
It seems that this kind of issue is not often as I thought, so I can solve that by adding that global callback or making some pub/sub notifications.

Thanks for your help man.

Cheers

[2018-08-18 02:30] #173 closed

[2018-09-09 03:48] nanook21 opened #175 "Ignoring some scripts in <head>"
Hi,

Is there a way to set a selector on "head" but to prevent certain scripts from being re-run on a new page load?

Andrew

[2018-09-09 03:52] BehindTheMath commented on #175
Use a global variable to store whether the scripts were run already, then check that value in your scripts.

[2018-09-09 05:09] nanook21 commented on #175
Unfortunately that won’t work in my setup as there are some CMS scripts
that I don’t have access to modify.

I was hoping that there might be a way to specify class IDs to ignore
within the head?

On Sat, Sep 8, 2018 at 9:52 PM BehindTheMath <notifications@github.com>
wrote:

[2018-09-09 13:37] BehindTheMath commented on #175
There's no built in way to do that. Your bet bet is to move the script tag outside of any elements affected by Pjax.

[2018-09-09 21:44] nanook21 commented on #175
For others who might be interested, I was able to put together a workaround by adding this line of code below:

[code]

[2018-09-12 02:07] BehindTheMath commented on #175
[Re parsing HTML using regex](https://stackoverflow.com/a/1732454/8037425). 😄

[2018-09-26 14:55] #175 closed

[2018-09-27 03:52] thewatts commented on #53
Oddly enough, I ran into this issue tonight.

I'm using multiple `pjax` instances to load in different URLs // selectors.

Once both are used, one stops working (events never fired, switches never fired, etc).

Sending in custom `options` via `loadUrl` isn't working either.

Is there a workaround for this?

[2018-09-27 04:07] BehindTheMath commented on #53
Why do you need multiple instances?

[2018-09-27 04:10] thewatts commented on #53
@BehindTheMath I have one instance that loads in urls with specific selectors (main content), and another that's being used with a realtime filter (updates the filter's content, filter results)

[2018-09-28 00:55] BehindTheMath commented on #53
It's a bit hard to picture without seeing it, but Pjax is only meant to be used with links and submitting forms, not for filtering data.

[2018-09-28 18:51] thewatts commented on #53
I'm using pjax to click a link, and selectively fetch the content from the URL - nothing different than what's detailed in the README, etc.

I just happen to be using multiple pjax instances :)

---

The issue itself is really hard to reproduce - so I'll table it for now. Just wasn't sure if there was a recommended way of handling the scenario of needing multiple instances.

Thanks!

[2018-09-30 13:14] obnijnil commented on #157
No. But it may be an enhancement fo common usages.

[2018-10-06 15:29] chaiim opened #177 "Form Params Not Sending on Microsoft Edge"
Form parameters don't seem to be sending when using Microsoft Edge. The form submits using pjax still, but the parameters array sent is empty.

Seems to be an issue with the function parseFormElements, it never gets past this line,
if (!!element.name && element.attributes !== undefined && tagName !== "button")

to actually fill in the parameters.

[2018-10-10 13:21] robinnorth commented on #177
Thanks for the bug report, @chaiim. I have a fix in progress.

[2018-10-10 18:34] chaiim commented on #177
Thanks for the fix. That was quick!

[2018-10-10 18:37] BehindTheMath commented on #177
It will probably still be a while until a new version is published to npm. If you can't wait, you can clone master and build it yourself in the meantime.

[2018-10-10 21:34] chaiim commented on #177
Ah thanks for the heads up. I already have a fixed copy locally just switching to the hasOwnProperty check in the for in. So will just keep that for now until it's the update is pushed live.

[2018-10-22 22:59] BehindTheMath commented on #97
@moox Can you link to one of your projects that's using ESLint and Prettier, so I can see how you configured it?

[2018-10-23 05:51] nogats07 commented on #156
Pjax is advanced in so many ways, just try it and you will know.

[2018-10-23 07:41] MoOx commented on #97
For prettier, the easiest thing is to setup https://github.com/azz/pretty-quick with husky (and optionally a plugin for your editor). This should take a minute or 2. Then forget about it and on each commit, boom code is formatted.
For ESLint, I use this config https://github.com/MoOx/eslint-config-i-am-meticulous (you can try
https://github.com/MoOx/eslint-config-i-am-meticulous#meticulous-modern-

[2018-10-27 12:41] buscon14000 opened #179 "code script"
// ==UserScript==
// @name     TLS RDV jdid ultimo
// @description Prendre rdv TLS auto
// @author SamiracleApps
// @version  1
// @include  https://dz2fr.tlscontact.com/dz/ORN/myapp.php*
// @grant GM.xmlHttpRequest

// ==/UserScript==

var i,x,j,pureText,realI,realJ;
x=0;
window.setTimeout(function(){ if(x==0){location.reload();} }, 60*1000);

var yourKey="7f8a1755e7a05fe97798e0982d3d4287==";

fu

[2018-10-27 12:41] #179 closed

[2018-10-31 06:43] venzersiz opened #180 "Pjax is not working on mobile firefox."
Hi, I have a problem. I'm making mobile web app using pjax. and then testing cross browsing. But only mobile firefox, pjax is not working.

I debugged library's codes and found a part that cause problem.

In bundle js file, line 711

            window.history.replaceState({
                    url: currentState.url || window.location.href,
                    title: currentState.title || document

[2018-10-31 07:33] venzersiz commented on #180
The test above was done on a simple pages. But on real app, every link (a element) is not working, no response.

I spent much times, but I can't find cause.

[2018-10-31 16:14] chaiim opened #181 "Form Submits on Enter Even for Textarea"
So it seems like pressing enter always submits a form request. I believe the expected behavior is only when there is one input in a form. But the main issue is just that it submits for textarea inputs instead of allowing the user to continue typing which is the expected behavior of a textarea.

[2018-11-02 02:21] venzersiz opened #182 "Pjax is not working properly on mobile chrome."
Hello! I found a problem.

On mobile chrome, when I touched browser's history navigation buttons (back, forward), pjax is not working properly. It works full reload.

---
pjax version: 0.2.5, 0.2.7
device: iPhone 7 / 8
iOS version: 12.0 (16A366)
mobile chrome version: 70.0.3538.75

[2018-11-08 13:16] tafelnl opened #183 "Only loading new page after AJAX calls finish"
I'm not sure whether this problem is necessarily related to this plugin, but here goes:

Let's say I have page **X** which executes some long running AJAX calls on load.

If I click a link on page **X** that takes me to page **Y** (with pjax), it will not start loading page **Y** untill the AJAX calls mentioned above on page **X** finish.

Does anybody know what may be causing this? Or maybe someo

[2018-11-11 21:07] BehindTheMath commented on #180
Can you give some more details about the issue. Or better yet, can you provide a codepen reproducing the issue?

[2018-11-11 21:15] BehindTheMath commented on #182
Can you give some more details about what's not working? Or better yet, can you provide a codepen reproducing the issue?

[2018-11-11 22:05] BehindTheMath commented on #181
Based on the [spec](https://html.spec.whatwg.org/multipage/form-control-infrastructure.html#implicit-submission):
* If there is a submit button, or if there's no submit button and there's only 1 blocking input, then Enter in an input will always submit the form.
* If there's no submit button and there are 2 blocking inputs, Enter will never submit the form.
* Enter in a textarea will never submit

[2018-11-13 05:39] venzersiz commented on #180
Hi, I found an [article](https://stackoverflow.com/questions/27558398/datacloneerror-the-object-could-not-be-cloned-in-firefox-34). I tested and checked that the codes work properly.

I checked that 'history.replaceState' function's parameters. Third parameter requires optional url. It might be String type. But in pjax codes, it passes 'window.location' object. I think that should be 'window.locat

[2018-11-13 07:29] venzersiz commented on #182
In this codes,

                if (st.state) {
                    var opt = clone(this.options)
                    opt.url = st.state.url
                    opt.title = st.state.title
                    // Since state already exists, prevent it from being pushed again
                    opt.history = false
                    opt.scrollPos = st.state.scrollPos
                    if (st.stat

[2018-11-13 13:50] BehindTheMath commented on #182
What about in mobile Safari?

[2018-11-14 01:11] venzersiz commented on #182
In mobile Safari, it works normally.

[2018-11-20 13:05] rungta opened #185 "Check for presence of script node before post eval cleanup"
https://github.com/MoOx/pjax/blob/52fb3bf938941fc16f2731270a6c7391eb2bb61b/lib/eval-script.js#L37

Sometimes a script tag can contain code that, on execution, cleans up after itself by removing the original script node. For example, an obfuscation snippet that uses `document.currentScript.parentNode.removeChild(document.currentScript)` to remove the script node and replace it with the decoded cont

[2018-11-20 14:51] tafelnl commented on #183
The AJAX call were/are all async. But I think it was a problem with my hosting, because it goes all well now, since I switched hosting.

Thanks anyway! :-)

[2018-11-21 02:17] #181 closed

[2018-11-21 02:19] #183 closed

[2018-11-21 06:12] rungta commented on #185
Suggestion: a `parent.contains(script)` check before `parent.removeChild(script)` might do the trick.

[2018-11-22 03:01] BehindTheMath commented on #180
You are probably correct that your error is caused by that algorithm. However, that has nothing to do with the url parameter; it's only used for the state parameter. Looking at the Pjax source, I don't see anything that would cause the error.

Can you post or link to your full code?

[2018-11-22 04:48] venzersiz commented on #180
Ok. So I'll give you the link for test. It also related to issue #182 . But I can't find your email address. Can you give me your email address? Or if you don't like to be discovered your email publicly, just send an contentless email me. then I will send an email with the link.

Thank you!

[2018-11-25 20:21] #185 closed

[2018-11-26 04:17] BehindTheMath commented on #180
This appears to be a bug in Firefox. I'm not sure why it's only in Firefox, since all browsers on iOS use WebKit.

Regardless, we can pass `window.location.href` instead of `window.location`, like you suggested [here](https://github.com/MoOx/pjax/issues/180#issuecomment-438143679)

[2018-11-26 09:08] venzersiz commented on #180
OK. Do you have a plan to change the codes?

[2018-11-26 14:14] BehindTheMath commented on #180
Hopefully I can do that soon, bit it will take time until a new release is pushed out to NPM.

[2018-11-27 00:33] venzersiz commented on #180
OK, thank you. I'll wait.

[2018-11-27 00:35] venzersiz commented on #180
What about #182? Have you been testing it?

[2018-11-27 02:18] BehindTheMath commented on #182
This appears to be a reported issue with Chrome on iOS (see [here](https://bugs.chromium.org/p/chromium/issues/detail?id=308674#c12), [here](https://stackoverflow.com/questions/46466618/why-popstate-doesnt-fire-my-function-when-back-button-is-clicked-mobile-ios-ch), and [here](https://productforums.google.com/forum/#!topic/chrome/n8_eZN7wFvM)). I don't think there's anything we can do.

Although I

[2018-11-27 02:18] #182 closed

[2018-11-27 03:00] BehindTheMath commented on #97
@MoOx You use `lint-staged` and `pretty-quick` together?

Also, which one do you run first? ESLint or Prettier?

[2018-11-29 14:50] Juliangzr opened #187 "Cannot read property 'match' of null"
Hello,
Im trying to use this script with ASP.NET MVC 5. I enabled the debug, and when i click on a link it throws me this error:

Here is my script

If i enter manually (through  browser) to http://localhost:25282/Clientes/Listar/1?t=1543502398672  there is no problem.
Anyway, there is no possibility to remove the query string t in the requests ?

Thanks

[2018-11-29 16:23] BehindTheMath commented on #187
In Pjax initialization options, set `cacheBust` to
`false`. See [here](https:/github.com/moox/pjax#cachebust-boolean-default-true).

[2018-11-29 16:45] Juliangzr commented on #187
Thank you @BehindTheMath! i setted in false, but im still getting the error.

[2018-11-29 17:04] Juliangzr commented on #187
i solved editing the .js of the loadcontent function:
[code]

[2018-11-29 19:51] MoOx commented on #97
pretty-quick only if you want just prettier, otherwise, lint-staged + husky + eslint + prettier :)

[2018-12-05 17:57] nicdnepr opened #188 "form submit reload"
[code]
Why `$('#form-id').submit();` not work? It reloads page
If click submit button- then works

[2018-12-05 17:59] BehindTheMath commented on #188
I don't know how jquery's submit method works. If you're using jquery anyway, why don't you use [jquery-pjax](https://github.com/defunkt/jquery-pjax)?

[2018-12-05 18:02] nicdnepr commented on #188
jquery-pjax gives errors in my case
this library work perfect
I can use hidden submit button, but it looks not beautiful as for me

[2018-12-12 13:32] nicdnepr opened #189 "random t number"
Why each url has `t` random value? Can it be removed?

[2018-12-12 13:34] BehindTheMath commented on #189
https://github.com/MoOx/pjax/blob/master/README.md#cachebust-boolean-default-true

[2018-12-17 06:48] nicdnepr opened #190 "ajax filter form"
I use pjax filter form with this element http://davidstutz.de/bootstrap-multiselect/#configuration-options-multiple
![2018-12-17-083605_1920x1080_scrot](https://user-images.githubusercontent.com/2581487/50070755-eac6bc00-01d7-11e9-8472-1f679a86e7f3.png)
After each check\uncheck checkbox, I call $('form :submit').click()
Pjax form submits self url with get
After each submit multiple select closes
H

[2019-01-16 14:02] nicdnepr opened #192 "run scripts after pjax load"
why pjax not runs scripts after load page?
for example in page footer script alert
after pjax load alert not fired
if click f5 then alert fired

[2019-01-16 14:10] BehindTheMath commented on #192
Please post a codepen showing the issue.

[2019-01-16 18:39] nicdnepr commented on #192
here test code
[code]
2.html
[code]

[2019-01-17 09:07] #190 closed

[2019-01-17 09:07] #189 closed

[2019-01-17 09:14] nicdnepr commented on #192
any ideas?

[2019-01-23 09:38] aolko opened #193 "Please fix your bundle"
Your bundle is broken, index(.min).js still reuires scripts from the `lib` folder, which does not exist.
Also getting this error
![](https://i.imgur.com/pe9s99K.png)

[2019-01-23 12:32] BehindTheMath commented on #193
Did you read the README? You should be using pjax.js or pjax.min.js.

index.js is not a bundle.

[2019-01-26 13:32] nicdnepr opened #194 "reinit pjax"
How can I reinit current  pjax?
Or maybe remove old pjax and create new pjax?

[2019-01-29 07:08] #188 closed

[2019-01-29 15:43] nicdnepr opened #195 "ctrl + mouse click"
how enable ctrl+left mouse click?
to open new tab with link

[2019-02-08 10:49] nicdnepr commented on #195
Any ideas?

[2019-02-11 12:50] MoOx commented on #195
Should work already https://github.com/MoOx/pjax/blob/2c6506af65e23a1aa256b0c00dddc39590a3a088/lib/proto/attach-link.js#L40
poke @BehindTheMath

[2019-02-11 13:00] nicdnepr commented on #195
I checked, ctrl+mouse click not work

[2019-02-12 04:34] BehindTheMath opened #196 "Change default behavior of cacheBust to disabled"
See [here](https://github.com/MoOx/pjax/issues/140#issuecomment-373563308).

This is a breaking change, and will require a major version bump.

[2019-02-12 04:34] BehindTheMath commented on #140
Closing in favor of a dedicated issue, #196.

[2019-02-12 04:34] #140 closed

[2019-02-12 04:38] #193 closed

[2019-02-12 04:39] BehindTheMath commented on #195
@nicdnepr Please link to a demo showing the issue.

[2019-02-12 06:23] MoOx commented on #196
Maybe that's time for you to ship 1.0 :)

[2019-02-12 09:54] nicdnepr commented on #195
http://pjax.awa.pp.ua/catalog/Attenjuatory
need click on any product selected link with ctrl+clik
![2019-02-12-115253_1920x1080_scrot](https://user-images.githubusercontent.com/2581487/52626901-dc85db00-2ebc-11e9-8e78-7ea33f79f60a.png)

[2019-02-12 11:57] nicdnepr opened #197 "scrollTo work only first time"
After first click page srolls to top
Second click don't scroll top

[2019-02-12 12:58] nicdnepr commented on #197
http://pjax.awa.pp.ua/catalog/Transljacionnye-usiliteli-mo%C5%A1%C4%8Dnosti
scroll down and click paging 2 times
![2019-02-12-145754_1920x1080_scrot](https://user-images.githubusercontent.com/2581487/52637007-b836f800-2ed6-11e9-8e5c-6d2a5de80335.png)

[2019-02-13 02:32] BehindTheMath commented on #192
I don't see any issues with the above code. The alert shows for me after clicking the link.

[2019-02-13 02:33] BehindTheMath commented on #97
@MoOx How about now?

[2019-02-13 02:39] BehindTheMath commented on #187
We should check [here](https://github.com/MoOx/pjax/blob/2c6506af65e23a1aa256b0c00dddc39590a3a088/lib/proto/handle-response.js#L10) if `responseText` is falsy.

[2019-02-13 02:56] BehindTheMath commented on #195
The link didn't work even after I removed the Pjax listener. So I'm not sure that it's an issue with Pjax.

Try removing the `ajaxlink` attribute, and see if the link works.

[2019-02-13 02:57] BehindTheMath commented on #195
And btw, that's not such a simple site. You might benefit from using a bigger library like Vue.

[2019-02-13 03:00] BehindTheMath commented on #197
That page doesn't load for me.

[2019-02-13 06:07] nicdnepr commented on #195
I removed `ajaxlink` and ctrl+click started work
Can you check the problem?

[2019-02-13 06:10] nicdnepr commented on #197
Its impossible, url opens
Can you check on local server scrollTo for links in case links reloaded with pjax?

[2019-02-14 03:26] #97 closed

[2019-02-15 08:15] fjeddy commented on #193
`pjax.js`and `pjax.min.js` doesnt exist, and the readme doesn't specifically mention it, so it's quite understandable that he gets confused.

[2019-02-15 11:46] nicdnepr commented on #195
Any ideas?

[2019-02-22 07:40] nicdnepr commented on #197
Any alive?

[2019-02-23 11:33] nicdnepr commented on #195
Can somebody help?

[2019-03-03 04:48] BehindTheMath commented on #195
This library is not currently being actively maintained. If you're having issues, you might want to look for something else.

[2019-03-03 05:17] BehindTheMath commented on #193
I'm not sure what you mean. The package on npm includes both of those files (see [here](https://cdn.jsdelivr.net/npm/pjax/)). The Github repo does not, but I don't see anywhere in the README suggesting you clone the repo.

[2019-03-03 05:28] #192 closed

[2019-03-03 15:41] fjeddy commented on #193
And what about those that don't use NPM? Which is quite a few people.

[2019-03-03 15:48] BehindTheMath commented on #193
The README gives clear instructions how to use a script tag with the CDN link, and it says quite clearly to use either pjax.js or pjax.min.js.

[2019-03-03 15:50] fjeddy commented on #193
And yet again, your making assumptions that anyone want's to use a third party cookie collecting CDN. Like I said, I get his confusion, i ditched the entire library myself due to how you do things.

[2019-03-03 16:29] BehindTheMath commented on #193
The only way I can think of to get the library without using the CDN or npm is by cloning from Github. I'm not sure why you feel the CDN uses cookies and Github does not, or why it's better to copy from Github than the CDN.

Regardless, such an installation method is never mentioned in the README, so it's a bit presumptuous to do it and them complain when it doesn't work. I can add instructions fo

[2019-03-03 16:51] fjeddy commented on #193
99% don't mention it, they just move on to the next thing.

[2019-03-03 17:27] BehindTheMath commented on #197
When you click on one of the page numbers, Pjax run its handlers and afterwards a jQuery handler runs and makes the same request, which replaces the links and the Pjax handlers. You can check in devtools and see how after you click one of the links, the exact same request is made by Pjax and then jQuery, and then the Pjax attributes and handlers disappear. I can't spend hours debugging your site,

[2019-03-03 17:27] #197 closed

[2019-03-03 17:33] BehindTheMath commented on #195
This does not appear to be an issue with Pjax. When you click one of those links, the Pjax handler is not invoked, so it's not Pjax that is handling the click.

[2019-03-03 17:33] #195 closed

[2019-03-03 17:39] BehindTheMath commented on #180
This issue should be fixed by #191. I would have made it a separate commit and PR, but it accidentally got included in that one.

There's still no timeline on when a new version will be pushed to npm.

[2019-03-03 17:39] #180 closed

[2019-03-03 17:42] BehindTheMath commented on #109
@MoOx What browserlist settings do you think we should use for Babel?

[2019-03-04 06:17] MoOx commented on #109
No idea what is best to use. Keep defaults?

[2019-03-04 14:32] #187 closed

[2019-03-04 20:38] nicdnepr commented on #195
Sorry men but I really need this library
It only has functions I need
Please help me!

[2019-03-05 07:55] nicdnepr commented on #195
If I remove pjax, ctrl+click starts work

[2019-03-05 11:52] nicdnepr commented on #197
Thanks for idea about jquery, I fixed this issue
But what about idea about #195
Not sure if problem with jquery

[2019-03-10 18:34] BehindTheMath commented on #166
Promises will make cancelling the XHRs more complicated, since currently, native Promises cannot be canceled.

[2019-03-26 15:21] omzy opened #201 "Trigger pjax request upon JS form submit"
I have activated pjax on a form as follows:

    var pjax = new Pjax({
        elements: "#search-form",
        selectors: [".search-results"]
    });

Now within my form I have an hidden input field. I have a dropdown outside of the form which can set the value of this hidden input dynamically. So for example I have:

[code]

JS:

[code]

As you can see, I am submitting the form when the dropdow

[2019-03-26 16:19] omzy commented on #201
OK I found a solution. Instead of triggering a form submit event, trigger a click on the submit button in the form:

`$('#search-form button').click();`

Whilst this now works, I still think it would be more elegant to trigger a form submit event. Is this something that can be looked in to?

[2019-04-21 18:49] lneves12 commented on #35
I am still having this problem if the new request fragment has something like this:

[code]

The script "/javascript/external.js" is still being loaded asynchronously. I will try to investigate it deeper, but some hints would be helpful :)

[2019-04-26 15:57] farishrf opened #202 "Audio Keep Repeating"
There is an issue the Audio is keep repeating, not only the audio even javascript code

This is the code
`						if(response.replysound != 'undefined' && response.replysound){
							alert(14);
								var audio = new Audio('./sound.mp3');
								audio.play();
						}`
Explain: When I enter the page thats contain Audio or any code JS. and go another page like home, I wait 5 seconds and Its keep Al

[2019-04-29 02:42] BehindTheMath commented on #202
You need to show some more code if you want help.

[2019-04-29 14:07] farishrf commented on #202
Well, thats it https://hastebin.com/asodarepaw.js
as u can see in line 84 there is an alert , audio. What is the problem? I'll tell u while moving from page to page using pjax its execute the line 84 etc.

[2019-06-10 16:05] bronze opened #203 "Opening links inside a drawer/off-canvas"
Hi there

Im trying to open links inside an off-canvas drawer (like https://getuikit.com/docs/offcanvas).
Im doing this by linking to the #off-canvas and calling pjax via onclick script (ugly hack but its working).
However, i cant figure out how to redirect links and subpages. They should not be accessible on their own, but via pjax from the root website.

Does anyone got an idea on how to accompl

[2019-07-01 07:03] royshoa opened #204 "Dynamic Selectors - Not exists at all pages"
I am using the Pjax at the navigation menu and switching some selectors at the page. My issue is that there is a class that exists only at the website homepage and I like Pjax to add it when the user browses to the homepage and remove it when the user browses to another page.

Are there is a way to do it without bypass the Pjax object?

[2019-07-01 14:46] #204 closed, assigned to nobody

[2019-07-18 00:04] #203 closed, assigned to nobody

[2019-08-03 06:43] stevenjoezhang opened #208 "A question about executeScripts"
https://github.com/MoOx/pjax/blob/c26c223a652affd55677dd47619bc68017b8d5ca/index.js#L208-L213

https://github.com/MoOx/pjax/blob/c26c223a652affd55677dd47619bc68017b8d5ca/lib/execute-scripts.js#L10-L17

After `script.parentNode.removeChild(script);` is executed, `script.parentNode` will be `null`

https://github.com/MoOx/pjax/blob/c26c223a652affd55677dd47619bc68017b8d5ca/lib/eval-script.js#L4-L5

T

[2019-08-10 14:52] mthohirin opened #209 "How to use formData option{}"
i added `enctype="multipart/form-data"` to `<form>` element, but Pjax still dont want read my fileinput element `<input type="file" />`

i also added `"form[action]"` into Pjax.
`Pjax({ elements: "form[action]" })`

when i click submit, i got this error
`Pjax switch fail: TypeError: Cannot read properti 'match' of null`

maybe any suggestion for my case? thanks

[2019-08-13 18:51] sofianeDZ19 commented on #179
what does this script do ??

[2019-08-14 02:21] BehindTheMath commented on #179
I'm not sure, but I'm removing the code, just in case it's malicious.

[2019-08-15 07:23] holloway opened #210 "Support HTTP 304 responses?"
When reading the [Pjax distribution code](https://unpkg.com/browse/pjax@0.2.8/pjax.js) I found these lines of code...

[code]

Should it also handle HTTP 304?

[2019-08-16 08:11] Treenear opened #211 "Pjax Upload File"
upload file not working
DOM doesn’t look the same on new loaded page: ’.body’ - new 0, old 1

[2019-08-22 09:30] mahdi29 opened #212 "form[action] does not record the value of the submitting element."
form[action] does not record the value of the submitting element.

On a standard form post, the value of the submitting button is passed along with the form data. This can be useful for describing the intent of a user.

For instance a form my have two submitting button; 'Save as Draft', 'Publish'. The intent of the user can be established server side using the the button's value.

[2019-08-28 09:27] gapplef opened #214 "Is it possible to restore the scroll position at page refresh?"
I'm using Hexo to generate my personal website, and the theme [`NexT`](https://github.com/theme-next/hexo-theme-next) I used provide PJAX support. After enable PJAX, the  scroll position back to top of the page on every refresh.
Is it possible to restore the scroll position at page refresh?

[2019-09-15 10:47] KawaiiZapic opened #216 "Could not handle 301/302 redirect probably."
When a target of a link try to make a 301/302 redirect to other site that not in this domain,PJAX will also try to request it and blocked by the browser for security reason.
And user will not get a probably redirect.

For an example:
On http://www.example.com/index.html ,there is a link to http://www.example.com/login.html .
But the login.html made a 301 redirect to http://login.example.net/login.

[2019-10-18 11:37] Christian1998 opened #218 "Remove CSS-Class from old link and attach "active"-class to selected link"
Hi, ive a small problem and cant find a solution for it...
I use the plugin normally, and its working fine. But after the loaded page i want to assign a CSS-Class to the clicked element (Menu and add class to the clicked item).
Anyone a hint or a parameter i could use?

Thank you ))

[2019-10-20 02:00] donShakespeare commented on #218
Please can you show how you use it?
In the mean time, is this helpful?
[code]

[2019-10-22 08:49] Christian1998 commented on #218
Hi @donShakespeare,
thank you for your reply. All from pjax is working as well.
This is my menu. Its working as expected but i want to add the class "active" to the clicked item. I dont know how to get the clicked element to attach the css-class.
<img width="251" alt="grafik" src="https://user-images.githubusercontent.com/13522681/67270641-5a24d080-f4b9-11e9-9a9a-12068fe2107d.png">

I already trie

[2019-10-24 11:27] mbuzun commented on #201
You can try something like this

[code]

[2019-10-28 16:18] Buliwyfa commented on #204
It will be nice to add some fallbacks selectors like on falsandtru/pjax-api (falsandtrucall the selectors areas) http://falsandtru.github.io/pjax-api/

[2019-11-14 14:20] donShakespeare commented on #218
I use something like what you have and works nicely.
Make sure that link is not within any element that gets replaced by PJAX. You can test it by manually adding a class to said link via the browser console, then click to pjax, and see if you lose that class you added.
[code]
You can also use `pjax:send`

[code]

[2019-11-23 17:09] Christian1998 commented on #218
Thanks for your suggestion. I'll try it next week and will reply here.

regards from switzerland :)

[2019-12-09 20:05] cherimo opened #219 "Link transition"
Hey,

Thanks for your awesome plugin, i have a question about custom transition per link which i want to customize. I saw a question about this a while ago. But is there an example code for this? At this moment my classnames back and forward doesnt work correctly. Every time I get the class forward and never backward, even why i go back, the backward value is true but no backward animation.

Greet

[2020-02-06 14:49] BrainFeeder opened #220 "TypeError: Property 'handleEvent' is not callable"
Hi!

I'm getting the error below when using this Pjax in simple html project.
The pages are created with BootstrapStudio (mockup). Pjax has been linked from CDN.

I added listeners on pjax:send and pjax:complete
`document.addEventListener('pjax:send', $appContainer.startLoading());
    document.addEventListener('pjax:complete', $appContainer.stopLoading());`
Called functions will just add/remove c

[2020-02-28 13:12] gggg990 opened #221 "pjax:send eventListener doesn't work"
Thanks for an interesting library @MoOx . I am trying to implement a white loading bar to the pjax code... I am also testing with logging the event to the console log but it only get's fired when there's a fresh restart of the whole page not just one section. Ideally I want to see it working also when changing page sections without a full reload.

This is my code:
var pjax;
var whiteloading;

docu

[2020-03-28 15:49] 0x11DFE opened #222 "Progress Event (Addition)"
As far as i know there is currently no easy way to monitor progress of the content that loads so it could be a nice addition.

(i had this thought while adding a progress bar to my website)

[2020-04-02 17:17] ldrummond opened #223 "Route Specific Transitions"
Is there a way to create route specific transitions with Pjax? Does Pjax expose the destination pathname on a pjax:send event, to allow for adding classes based on destination route at the beginning of the transition?

Recommendations or suggestions on how to achieve this would be appreciated!
Additionally, would this be a helpful feature for others?

[2020-04-20 01:40] nateberkopec opened #224 "Make X-PJAX headers optional"
I preload documents using `rel=preload`, and because PJAX adds headers to the request, it cannot use those preloaded documents.

Simply removing the headers works and no network requests are sent on a PJAX navigation. Should we make them optional? What should that option be called?

[2020-04-25 20:19] miqoo1996 opened #225 "Fix testing(example) folder JS paths"
I have cloned this project for understanding how it works.
You have a folder with name example, there are HTML files in the files head section there is an included file "<script src="../pjax.js"></script>" This pjax.js I can't find I think possible that it doesn't exist.

When I'm opening the project/example/index.html file on browser and want to check how it work at that time I'm getting an error

[2020-05-15 07:56] bjoernhasse commented on #214
I am having the same issue. Does anyone have an idea how to fix it?

[2020-05-15 21:36] bjoernhasse commented on #214
Okay I found the reason for this behavior:

Pjax sets scrollRestoration to 'manual':
https://github.com/MoOx/pjax/blob/7940a6e3e595dae970f670b0abfc2cc03d74d614/index.js#L26

You can configure this by setting 'scrollRestoration' to false:
[code]

[2020-05-16 05:42] gapplef commented on #214
@bjoernhasse  This solved my problem, thanks!

According to the README

What does this mean?

[2020-06-03 08:32] Connum commented on #224
I'm currently trying to implement instant.page (which uses `<link rel="preload">`) in addition to pjax and I'm facing the same issue. Have you found a workaround? How did you remove the headers to see that it works? By modifying the code of the package manually?

[2020-06-27 19:51] #212 closed, assigned to nobody

[2020-07-12 08:10] jerryc127 opened #226 "what meaning of analytics options ?"
what meaning of analytics options ?

it mean we don't need to do anything like reload the google analytics ?

[2020-08-24 08:28] mtimofiiv commented on #226
When you navigate to a new page, since with this module you are not reloading the page, analytics scripts might not be aware that the page has changed to track page views or whatever. It's necessary to tell Google Analytics (or others if you don't use it) that a navigation has happened.

In the Google script, you can send it an event telling GA that the navigation happened using the `ga()` functio

[2020-09-25 08:51] julienc91 opened #229 "Not working with React event handlers"
Hi,

I'm using pjax along with some React components. I'm trying to disable some links programmatically, depending on the current state of the component, by using `onClick`/`onClickCapture` event handlers along with some `stopPropagation` and `preventDefault` methods. But this is not working as expected, as the links are still enabled.

Here is a small example to reproduce:

* index.html

[code]

[2020-09-25 13:47] julienc91 commented on #229
From what I understand, this is because React's [`SyntheticEvents`](https://fr.reactjs.org/docs/events.html) are always processed after native events, which are the one used by Pjax.
A quick test shows indeed that the `isDefaultPrevented` function returns `false` after the `onClick` handler is being called, but this is already too late.

The solution is... don't mix native events with React events

[2020-09-25 13:47] #229 closed, assigned to nobody

[2020-11-15 13:34] BigGitWorld opened #230 "different script for different pages?"
Hi.
I wan to have different ``<script src>`` tags in different pages.
All of my pages have same DOM (except script tags) and my new HTML content is replaced successfully inside of specified div.
But I don't know why these <script> tags are not loaded in new pages.

Therefore I added ``scrip`` and ``script#id`` to the ``selectors`` section to load new script tags, but it results in full page loadin

[2020-11-15 17:31] BigGitWorld opened #231 "adding title to selectors results in full page loading"
This is my simple pjax code:
[code]
If ``title`` does not exist in the above code, everything work fine (title of page does not change).
But If I add ``title`` to the ``selectors`` (such as the above), I have a full page loading!

My DOM is same and I can use [jquery-pjax](https://github.com/defunkt/jquery-pjax) lib successfully.

what is the problem?

[2020-11-16 16:10] zwying0814 commented on #230
I have same problem

[2020-11-18 12:50] #231 closed, assigned to nobody

[2020-11-18 13:38] BigGitWorld commented on #192
@BehindTheMath
I run the above code but the alert did not called!
How did you run it with alert?

[2020-11-18 13:44] BehindTheMath commented on #192
I'm sorry, but I can no longer help with this. This issue is from almost 2 years ago, and I haven't used this library in almost that long.

[2020-11-18 13:48] BigGitWorld commented on #192
Your welcome.
Please can you tell me what version you have used?
I have serious problems with the latest version. I want to use it in my SPA project but <script> tags are not called. while I see in the ajx (xhr) response, I have <script> tags.
I opened a new issue but nobody help me and I don't know how do I have to solve it :(

[2021-01-14 19:50] iangreenleaf commented on #216
I just ran into this recently. It's a tough one because browsers handle redirects transparently in `XmlHttpRequest`, so the PJAX JS can't stop the request from going to the external URL (and probably erroring on a CORS failure). To fix this without server modifications, I think this script would need to migrate to the `fetch` API, which has more control over redirect behavior.

Because I do have c

[2021-02-19 10:26] kinooyume commented on #166
What do you mean ? you can "cancel" a Promise with reject.

[2021-02-19 19:02] BehindTheMath commented on #166
You can reject a Promise, but you cannot abort the fetch request without  [AbortControllers](https://developer.mozilla.org/en-US/docs/Web/API/AbortController/abort), which is a newer API, and is not supported by IE.

[2021-03-05 19:45] piperhaywood commented on #231
@BigGitWorld I’m running in to a similar issue and can’t seem to figure out what’s going on, were you able to sort this out?

[2021-03-05 19:50] piperhaywood commented on #231
Just adding a followup: I think the issue may have been an embed on the page, perhaps Pjax is detecting multiple titles? At any rate, I added a class to the `<title>` tag like so: `<title class="site-title">` and then used the selector `title.site-title` in the options and this seemed to clear it up.

[2021-03-05 23:23] stefan1214124 opened #233 "Pjax doesn't work with links loaded with another children ajax elements after DOM"
Using ajax call I am loading new content to an existing empty div element which adds some links. These links should also work with pjax but they don't as I can see that the timestamp changes.

I tried to do this in the ajax success part but it's not working:
[code]

[2021-03-27 17:25] imannms commented on #166
@BehindTheMath
What about this? https://www.npmjs.com/package/abortcontroller-polyfill

[2021-03-31 00:28] memob0x commented on #230
I solved this in the past by comparing the fetched DOM scripts to the current ones, then loading the new ones (the ones not present in the current page) dynamically (either with native import or with a third-party library such as systemjs or requirejs...).
While this worked very well for script files, I couldn't find an equally clean solution for inline scripts, for which I ended up using eval...

[2021-04-20 09:58] #226 closed, assigned to nobody

[2021-04-20 10:09] jerryc127 opened #235 "The hash value of url change to 'undefined' when click the browser prev or next page"
For example, in my post page, the hash will change according to headings when we scroll.
The code
![image](https://user-images.githubusercontent.com/16351105/115378316-035d9b80-a203-11eb-89ad-e4cc8b50db77.png)

when i click the prev or next button in broswer, the hash value change to 'undefined', it cause the page '404'
![image](https://user-images.githubusercontent.com/16351105/115378745-723af480

[2021-04-29 09:30] ghost opened #236 "Some events are added repeatedly"
I used the plug-in for image viewing, In the plug-in, the window `resize` event is added. When I switch several pages, I find that the `resize` event has been added repeatedly.

#### Make a demo

[code]

After clicking to switch the page several times, the event is added repeatedly

![sd28-52](https://user-images.githubusercontent.com/47672657/116530238-655b8680-a910-11eb-9ac2-e1949894e0b8.png)

[2021-04-29 10:15] robinnorth commented on #236
This is because your `"pjax:success"` event listener calls your `event` function that adds a `"resize"` listener, meaning that every time you load a new page with Pjax, you add a new listener.

You should either only call this function once, or remove any previously-added `"resize"` listeners before adding a new one.

[2021-04-29 10:15] #236 closed, assigned to nobody

[2021-05-10 17:32] alekssskirov opened #238 "How to cancel Pjax triggers if in the url #"
How to cancel Pjax triggers if a new c # url is passed to another JS pushState, and in some cases photoswipe passes “/#&gid=1&pid=1 " and Pjax is triggered

https://photoswipe.com/#&gid=1&pid=1

[2021-05-11 17:09] alekssskirov commented on #238
Solved, just photoswipe called history.back(); changed it to history.pushState( false, document.title,url) when closing; and Pjax stopped working

[2021-05-29 14:37] imannms opened #239 ""Before Send" Event?"
Is there something like `beforeSend` event like in this package https://github.com/defunkt/jquery-pjax#events ? I need to set headers before pjax send request to the server.

[2021-07-06 11:44] mkgn opened #240 "How to find out whether PJax is property configured?"
I am using AdminLTE theme and only need left navigation menu links to work with PJax.

So I have below PJax configuration set

    var pjax = new Pjax({
        elements: "a.js-pjax", // default is "a[href], form[action]"
        selectors: [".container-fluid"]
    })

For each navigation link I have added "js-pjax" class like;
    <a href="@menu.UrlPath" class="nav-link js-pjax">

My selector wor

[2021-08-15 19:46] anthonyfrancq opened #242 "Drop down menu"
This seems to break drop down menus where the a href is # any possible fix?

[2022-07-24 06:55] Fexaop opened #246 "unable to use pjax with express"
i m trying to run pjax with express my codes are as following

[code]

[code]

[code]

[code]

[code]
when i run it no error comes but when i try to redirect it reloads the page instead of using pjax

[2022-07-24 08:03] EmptyDreams opened #247 "I want you to optimize your coding experience"
Now, if I need to write code that executes after the page loads, and it needs to execute on every page, I need to write:

[code]

The reason for registering both events is that the DOMContentLoaded event will not be executed if the JS is not loaded the first time the page is opened, and pjax:success will not be executed if the JS is loaded the first time the page is opened.

To make matters worse,

[2022-08-08 12:36] misog opened #248 "Support for formaction attribute?"
Hi, can MoOx/pjax support formaction attribute?
[code]
or
[code]

See https://developer.mozilla.org/en-US/docs/Web/HTML/Element/input#formaction

Thank you

[2022-08-09 14:42] EmptyDreams opened #249 "Pjax can work incorrectly when manually calling functions in History"
Suppose I have two pages:

1. `https://a`
2. `https://b`

Now I'm on the first page, and then I call `history.replaceState` to change the URL to `https://c`.

Then I click the link to jump to the second link, then use the browser's back button to go back to `https://c`, then use the forward button to go back to `https://b`, then click the back button again. At this point, you should jump back to t

[2022-08-12 13:48] EmptyDreams commented on #247
The second code can be changed to look like this:

[code]

So far I have solved this problem by manual encapsulation, I wrote the following in a JS that will be loaded by all pages:

[code]

Then use it elsewhere:

[code]

[2022-08-12 13:48] #247 closed, assigned to nobody

[2022-08-12 13:51] EmptyDreams commented on #249
The reason for 404 should be that the `state` I passed in manually overrides the state set by PJAX.

But I do need a way to tag a page, and now I have to identify it by adding parameters to the URL.

It is hoped that PJAX will not overwrite the original `state` in the state when the page jumps.

[2022-08-12 15:00] EmptyDreams opened #250 "Is there a way for the page to uninstall PJAX?"
Since my site has a custom caching policy, I need to update part of the cache after the site loads, which includes JS files and CSS files.

But I found that a normal page refresh would not allow the browser to load new files. After analysis, PJAX was found to be responsible.

It is possible to replace elements manually, but this is very complicated to implement.

I wonder if there is a way to bypa